[2016-02-29 07:13] walkthetalk opened #4 "maybe we can use a variable to represent the git address."
the llvm-mirror in github is just one choice, at least, I can get higher speed when accessing official git repos.

so my suggestion: use a variable to represent the git address, and also a variable to represent the protocol, just like meta-qt5.

and we can assign it in local.conf pointing to my own mirror.

[2016-02-29 10:18] walkthetalk opened #6 "collect2: fatal error: ld terminated with signal 9 [Killed]"
looks like the memory (8GB) is not enough.

4 parallel ld running, everyone use ~2G memory.

so maybe we should use single thread to make clang?
PARALLEL_MAKE = ""

[2016-02-29 10:22] walkthetalk opened #7 "all target?"
I don't think we should enable all target when compiling clang by default.

maybe we should enable the machine arch only, or let user set it.

i.e. enable only one arch by default. users can choose other arch by themselves.

[2016-02-29 10:27] walkthetalk opened #8 "what about musl?"
in README:
Edit conf/bblayers.conf to add meta-musl to layer mix e.g.

what about meta-musl? is it a dependency?

[2016-02-29 20:02] kraj commented on #8
No its a typo.

[2016-02-29 20:03] kraj commented on #7
No, its done by design. You only build it once as clang-native and then use it for all kind of machines. Thats the concept for universal clang driver too.

[2016-02-29 20:03] #7 closed

[2016-02-29 20:05] kraj commented on #6
Its possible, however one machine which has 8Gb built is fine before 3.8 upgrade. I havent tried it
since then. All my machines have 16Gb. You can select PARALLEL_MAKE_pn-clang-native = ""

in your local.conf. we should not punish the boxes which have good configs.

[2016-02-29 20:05] #6 closed

[2016-02-29 20:06] kraj commented on #4
thanks for patch it has been merged.

[2016-02-29 20:06] #4 closed

[2016-02-29 20:08] kraj commented on #8
should be fixed now

[2016-02-29 20:08] #8 closed

[2016-03-01 01:53] walkthetalk opened #9 "which recipe provide llvm (dependency of mesa)?"
the mesa is depends on llvm3.3, but llvm3.3 in meta-oe may has bug (I got segment fault).
so I want to use meta-clang, maybe I need to modify mesa.bb?

[2016-03-01 02:31] walkthetalk commented on #9
another problem: no recipe use llvm-common.
maybe clang_git should depends on it?

[2016-03-01 05:30] kraj commented on #9
llvm thats part of meta-clang is intentionally aimed at static compilation. with mesa you need the dynamic compilation piece, it might work but not without changes.

[2016-03-01 06:20] walkthetalk commented on #9
Can you give some clue? Thanks!

[2016-03-02 00:46] walkthetalk commented on #9
I have add some line to clang_git.bb:
[code]
but get that error:
[code]

I checked the command used:
[code]

it looks like the command has error mixed the '-l' and '-wl', I don't know if it is the cause. any idea?

[2016-03-02 02:50] walkthetalk commented on #9
the clang-native compile error (enabled shared library):
[code]

[2016-03-03 05:30] kraj commented on #9
does g++ on your build host support c++11 ? what version of gcc are you using ?

[2016-03-03 08:26] walkthetalk commented on #9
I'm using gcc 5.3 (ArchLinux)

[2016-03-03 08:32] walkthetalk opened #11 "qa warnning: already stripped"
WARNING: clang-native-3.8.0+gitAUTOINC+27c964e2ae_b98cd9d6a3-r0 do_populate_sysroot: File '/mnt/optimus/build/tmp/sysroots/x86_64-linux/usr/bin/llc' from clang-native was already stripped, this will prevent future debugging!

[2016-03-04 03:25] walkthetalk opened #12 "nativesdk-clang package error"
ERROR: nativesdk-clang-3.8.0+gitAUTOINC+27c964e2ae_b98cd9d6a3-r0 do_package: QA Issue: nativesdk-clang: Files/directories were installed but not shipped in any package:
  /opt/optimus/2.0+snapshot/sysroots/x86_64-optimussdk-linux/usr/share/llvm

nativesdk-clang-3.8.0+gitAUTOINC+27c964e2ae_b98cd9d6a3-r0 do_package_qa: QA Issue: -dev package contains non-symlink .so: nativesdk-clang-dev path 'work/x

[2016-03-04 04:19] walkthetalk commented on #12
maybe we can use archlinux as reference, split the llvm from clang.

[2016-03-04 06:01] kraj commented on #12
Fixed by 39bcfb9

[2016-03-04 06:01] #12 closed

[2016-03-04 06:04] kraj commented on #11
This is due to we choosing to strip this during clang make itself. So we need to ignore this qa check. Otherwise size gets out of control

[2016-03-04 06:07] kraj commented on #9
I use arch based distro too.  I think bootstrapping clang with itself is right approach that will make it consistent across all distros

[2016-03-04 07:29] walkthetalk commented on #12
this commit will not fix 'dev-elf' error.

[2016-03-04 07:31] walkthetalk commented on #11
If so, I think we should add INSAN_SKIP in bb file

[2016-03-04 07:39] walkthetalk commented on #9
I agree with you. but, is there other way to use mesa llvmpipe without dynamic libllvm? or can we have a switch? let user choose dynamic or static by themselves.

[2016-03-07 02:06] walkthetalk opened #14 "nativesdk-clang package error (dev-elf)"
nativesdk-clang-3.8.0+gitAUTOINC+27c964e2ae_b98cd9d6a3-r0 do_package_qa: QA Issue: -dev package contains non-symlink .so: nativesdk-clang-dev path 'work/x86_64-nativesdk-optimussdk-linux/nativesdk-clang/3.8.0+gitAUTOINC+27c964e2ae_b98cd9d6a3-r0/packages-split/nativesdk-clang-dev/opt/optimus/2.0+snapshot/sysroots/x86_64-optimussdk-linux/usr/lib/libLTO.so' [dev-elf]

[2016-03-07 05:17] walkthetalk commented on #14
FILES_${PN}_append_class-nativesdk = "\
  ${libdir_native}/libLTO.so \
"

I don't know if it is the right style.

[2016-03-07 05:19] walkthetalk commented on #11
INSANE_SKIP_${PN} += "already-stripped"
INSANE_SKIP_${PN}-native += "already-stripped"
INSANE_SKIP_nativesdk-${PN} += "already-stripped"

the first line can work, but I don't know what is the right code for native and nativesdk.

[2016-03-07 10:54] kraj commented on #14
This is right. But you need a insane skip

[2016-03-07 10:55] kraj commented on #11
First 2 are ok. Third one needs to usr target arch. Look into clang.bbclass for sample

[2016-03-09 01:02] walkthetalk commented on #14
pull request #15 insane skip 'dev-elf'

[2016-03-09 01:03] walkthetalk commented on #11
pull request #15 insane skip 'already-stripped'

[2016-04-05 06:06] kraj commented on #14
should be fixed

[2016-04-05 06:06] #14 closed

[2016-04-05 06:07] kraj commented on #11
should be fixed now

[2016-04-05 06:07] #11 closed

[2016-04-05 06:07] kraj commented on #9
Do we have some resolution on this ?

[2016-04-20 06:36] zepto88 opened #16 "exit code 1"
During do_install i get exit code 1, no speific error. When tried to debug with some prints by putting in some echo in do_install_append_class-native() in clang_git.bb after the for loop it fixed it.
Maybe there are some timing issues here ?

[timingfix.patch.txt](https://github.com/kraj/meta-clang/files/227324/timingfix.patch.txt)

[2016-04-20 07:16] #16 closed

[2016-05-16 16:22] rossburton opened #20 "Don't depend on clang-native"
Currently target clang depends on clang-native for the llvm-tblgen binary.  There should be a way of either bootstrapping that in the target clang build, or a clang-tools-native recipe that just builds that instead of all of clang.

[2016-06-14 14:05] kraj commented on #20
llvm-tblgen/clang-tlbgen is whats needed precisely. However, clang-native is needed in anycase since clang only build once for one host and there is no need to rebuild it again and again for different targets unlike gcc. One can say that I would use gcc everywhere even to build clang target then there is some use of just building minimal clang native. However thats not common usecase, people prefe

[2016-07-15 11:48] brs4 opened #23 "use meta-clang within poky environment to compile clang for cortexa9thf-neon"
Compiling clang for a cortexa9thf-neon is working, but there are 2 Problems with the binary.
1. The  DEFAULT_TARGET_TRIPLE is wrong.
This could be solved by setting it hard in the recipe. Appending
-DLLVM_DEFAULT_TARGET_TRIPLE="arm-poky-Linux-gnueabi" to EXTRA_OECMAKE_append_class-target solves the problem, but only for arm.
2. clang cannot produce machine code. It uses bad values for CXXFLAGS, CF

[2016-07-15 22:30] kraj commented on #23
@brs4 Can you provide some more info. Are you using the clang on the target ?

[2016-07-18 14:48] brs4 commented on #23
Yes. After compiling clang with the recipes from meta-clang, calling clang --version on IMX6 target shows:
# clang --version
clang version 3.8.1 (https://github.com/llvm-mirror/clang.git 9fd77bd68130d9b2fb
c56a3138b6f981d560480a) (https://github.com/llvm-mirror/llvm.git 06cf4b238fa4563
8ed37ec7725d38930fea37ff9)
Target: x86_64-unknown-linux-gnu
Thread model: posix
InstalledDir: /usr/bin
So I set u

[2016-09-01 12:14] mythi opened #24 "TUNE_CCARGS breaks SSTATE checksums"
I'm using an SSTATE_MIRROR to get clang pre-built by our CI build system but I noticed my build target always re-builds clang locally and sstate is invalid.

With bitbake-diffsigs I get that TUNE_CCARGS changes the hash. More specifically, the `-I${PKG_CONFIG_SYSROOT_DIR}${includedir}/libxml2` makes it build specific.

[2016-09-01 15:38] mythi commented on #24
using krogoth / 3.8. Just saw bf0a01851fb7cd8d66a23cef0f69df519c085eff.

[2016-09-01 23:22] kraj commented on #24
@mythi that patch is good for clang 3.9, however it hasnt been tested with clang 3.8, IIRC it was needed with some older version of clang I dont remember if it was 3.8 or older. If you can test it out and report back, I would be happy to cherry-pick it to krogoth

[2016-10-27 14:44] hpux735 opened #26 "Native clang install targets x86-64 by default"
I'm trying to install a compiler on the target (an Armv7 system) that will compile native (Armv7) binaries.  To my top-level (image) recipe I added the `clang` dependency.  Build completes, and the target has a copy of clang that runs on arm.  However, the default triple of the compiler on the target is x86-64:

[code]

I've tried a few different variations on the clang recipe, including `clang-de

[2016-12-01 13:25] mythi commented on #24
Fixed by #25

[2016-12-01 13:25] #24 closed

[2016-12-21 07:38] ernstp opened #27 "Add lldb?"
Hi!

I have a project that needs lldb in the toolchain in addition to clang.
Would you consider adding that?

[2016-12-21 16:46] kraj commented on #27
@ernstp sure

[2017-02-27 21:44] kraj commented on #27
added with db97660178a4fdb566ab4ddba0e5edd0efc85820

[2017-02-27 21:44] #27 closed

[2017-02-27 22:21] kraj commented on #26
you can pass -target armv7l option on cmdline to clang

[2017-02-28 18:15] #26 closed

[2017-02-28 18:17] kraj commented on #23
2a86d67fc139cd524fcd19d3286b0d8123395947 should fix this issue

[2017-02-28 18:17] #23 closed

[2017-05-14 11:04] sjames opened #32 "libunwind header not getting installed"
Hi,
I'm creating a layer to build the MS .NET coreclr and corefx.  The meta-clang layer is a pre-requisite to the new layer I'm creating.

I'm following the linux build instructions for coreclr at https://github.com/dotnet/coreclr/blob/master/Documentation/building/linux-instructions.md .

I've published the work done so far at https://bitbucket.org/sojan_james/meta-dotnet .

Now coming to the pro

[2017-05-14 18:10] kraj commented on #32
@sjames llvm-libunwind can conflict with libunwind from OE-Core thats why it is not installing it. But thats not the way to go, we have to make it such that it can be an alternative to libunwind from OE-core. So please go ahead and install it and watch out for any other conflicts we might have to solve.

[2017-05-18 16:04] papazof opened #33 "9649a07fcfee2bec0794ea2dd43a3f3e8c535e1c disables cross-compiling"
TARGET_ARCH and HOST_ARCH are equal for the native package, so clang-native will build only with host arch support (unless overridden by user). Furthermore, packages compiler-rt, and clang (or any other target package built by clang-native) will fail to cross-compile.

[2017-05-18 16:13] kraj commented on #33
@papazof you are right, I have been testing with LLVM_TARGETS_TO_BUILD = "AArch64;ARM;Mips;PowerPC;X86" in my local.conf so this issue was remained hidden in my builds.

[2017-05-18 16:14] kraj commented on #33
@martingkelly I will have to revert it unless there is a better solution

[2017-05-18 16:58] martingkelly commented on #33
@papazof @kraj I think I know what's wrong; I believe the commit should be using BUILD_ARCH instead of HOST_ARCH. My intention was for clang-native to have support for the native and target arches. So if you're building for ARM on an X86 machine, you should build support for ARM and X86 but not for MIPS and PowerPC.

The issue is that HOST_ARCH is actually defined to be the same as TARGET_ARCH, so

[2017-05-18 16:59] #33 closed

[2017-05-18 17:01] kraj commented on #33
@martingkelly try your experiment with clang-native thats where the problem lies

[2017-05-18 17:08] kraj commented on #33
and this would also not work in nativesdk case where HOST_ARCH != BUILD_ARCH != TARGET_ARCH and we are actually interested in HOST_ARCH and TARGET_ARCH

[2017-05-18 17:16] martingkelly commented on #33
Yep, I see what you mean: for clang-native, TRANSLATED_TARGET_ARCH=x86_64. It seems that from clang-native, the only way to know you're targeting ARM is via MACHINE_ARCH="qemuarm", which does not directly give you the actual architecture.

I don't see an easy way to fix this, so I agree with building all arches as the only quick solution. That said, it does seem like there should be a way to build

[2017-07-18 00:01] RDunkley opened #34 "Using meta-clang under petalinux."
I am using Petalinux from Xilinx. It basically provides Yocto Krogoth in a commercial package with support for their FPGA SOCs. When I add clang I get the following:

ERROR: Nothing PROVIDES 'binutils-cross-arm' (but /home/tester/petalinux/components/yocto/source/arm/layers/meta-clang/recipes-devtools/clang/clang-cross_git.bb DEPENDS on or otherwise requires it)
ERROR: binutils-cross-arm was skipp

[2017-07-18 02:40] kraj commented on #34
I hope you are using krogoth branch of meta-clang too

[2017-07-18 02:42] kraj commented on #34
and yes if xilinx layer is providing its own binutils then they should provide all the virtual packages that oe-core binutils does

[2017-07-18 11:45] pohly opened #36 "does not build with glibc 2.25.90"
meta-clang is e7a7590a693c42978eb160c41aeac98ab7320df6. I'm using it as part of refkit. While trying to update to the latest revisions of various layers (https://github.com/intel/intel-iot-refkit/pull/246) I noticed that glibc 2.25.90 from OE-core master breaks several recipes in meta-clang.

compile-rt needs some patches which (partially) were committed upstream. See https://github.com/pohly/inte

[2017-07-18 13:10] kraj commented on #36
The fix is

1. Remove xlocal.h

if you end up with errors

replace with locale.h

[2017-07-18 14:18] pohly commented on #36
Remove from what?

projects/libcxx/include/__locale seems to be a generated file, so I cannot simply patch it in the source code.

[2017-07-18 15:45] kraj commented on #36
its not generated its a patch to libcxx component thats needed.

[2017-07-18 16:19] pohly commented on #36
projects/libcxx/include/__locale is there after "git -c unpack libcxx", but git doesn't know anything about it: "git grep xlocale.h" does not find it, and after modifying it, "git diff" also doesn't show the change.

So where does it come from?

[2017-07-18 18:50] pohly commented on #36
Now I get it. projects/libcxx is a separate git repo. I was running git in the top-level "git" directory, which is from github.com/llvm-mirror/llvm.git. How... cunning.

Is someone already working on this problem? I'm a bit busy with other problems, and this looks like an upstream issue.

[2017-07-18 18:53] kraj commented on #36
yes, its an upstream issue, I dont think anyone is working on it. I might get to this next week. Since this week I am traveling

[2017-07-18 22:33] RDunkley commented on #34
Yea I tried it with krogoth, morty, and even master. Same issue. I agree, to fix it for now I updated clang-cross_git.bb and compiler-rt_git.bb to use the Xilinx version and that seemed to work.

[2017-07-19 00:58] kraj commented on #34
@RDunkley cool. I think you can file a bug for meta-xilinx to fullfil the provides as required for oe-core. Once they do that you dont have to patch anything else.

[2017-07-19 17:45] jonathanrichardson opened #38 "compiler-rt doesn't compile with aarch64"
I’m trying to compile a single recipe using clang and have enabled clang using TOOLCHAIN
= "clang" in my recipe. There's an error in compiler-rt. It says ‘crc32cx’ isn’t supported for aarch64. It seems to be a valid instruction on armv8a though. Has meta-clang been used with aarch64? Error is below:

aarch64-poky-linux-ar qc ../linux/libclang_rt.stats-aarch64.a  CMakeFiles/clang_rt.stats-aarch64.d

[2017-07-20 19:53] #38 closed

[2017-07-20 20:08] #36 closed

[2017-07-20 21:07] pohly commented on #36
@kraj thanks for resolving it in meta-clang. I had also submitted a fix upstream but then didn't get around to updating this issue or fixing meta-clang itself:

https://reviews.llvm.org/D35616

[2017-07-24 00:01] kraj commented on #36
your fix is ok but I think its including locale.h redundantly, I have submitted another fix which hopefully get applied soon

[2017-07-28 23:25] #34 closed

[2017-09-19 19:42] kraj commented on #32
With recipe specific sysroot this should work better.

[2017-09-19 19:42] kraj commented on #9
llvm is also added to oe-core now. Closing

[2017-09-19 19:42] #9 closed

[2017-09-21 12:20] raymanfx opened #41 "Segfault with Yocto Pyro"
Hi all,

I'm trying to compile Beignet (OpenCL implementation), which depends on clang/compiler-rt and friends.
The package compiler-rt fails with the following stacktrace:

|   4.	Running pass 'Live Interval Analysis' on function '@main'
|
|   clang-4.0: error: unable to execute command: Segmentation fault (core
|   dumped)
|
|   clang-4.0: error: clang frontend command failed due to signal (use

[2017-09-21 18:54] kraj commented on #41
Can you provide a pre-processed file ?

[2017-09-22 07:21] raymanfx commented on #41
Hi, I was able to narrow it down to a "broken" (?!) compiler flag.
My test call is like this (taken straight from Yocto's do_configure step for compiler-rt):

/home/redqueen/Schreibtisch/csp/yocto/build/tmp/work/corei7-64-poky-linux/compiler-rt/4.0.0+gitAUTOINC+76ab2e5c9b-r0/recipe-sysroot-native/usr/bin/x86_64-poky-linux/x86_64-poky-linux-clang \
    -m64 -march=corei7 -mtune=corei7 -mfpmath=sse

[2017-09-22 13:46] kraj commented on #41
@raymanfx clang has been updated to 4.0.1 release on pyro can you try again ?

[2017-09-25 07:38] raymanfx commented on #41
Looking here: https://github.com/kraj/meta-clang/commits/pyro, that happened a long time ago already, I am on the latest HEAD of the Pyro branch, so that won't make a difference.

[2017-09-25 07:39] raymanfx commented on #41
After the segfault I described above, clang-native royally fails other tests as well, it's completely broken for me (when trying to compile "compiler-rt").
I am using a non-standard GCC version in my tree because of certain proprietary code. I'll try to revert to the standard Pyro GCC and try again.

[2017-10-08 17:08] zzeroo opened #43 "The file /usr/include/llvm/LinkAllIR.h is installed by both rust-llvm-native and clang-native"
## Version(s) of meta-rust
7f80e6d68b48a0a2446a606dd35901db4505d61a (HEAD -> master, upstream/master)

## Version(s) of poky and/or oe-core
[code]

## Expected result
No error

## Actual result
Error `The file /usr/include/llvm/LinkAllIR.h is installed by both rust-llvm-native and clang-native, aborting`

## Steps to reproduce
Include the `meta-rust` and `meta-clang` in your local bblayers. Then c

[2017-10-08 17:50] kraj commented on #43
if rust is providing its own llvm then you dont need clang I think.

[2017-10-08 19:08] zzeroo commented on #43
One of my own projects need `libclang.so`, and Rust of course, too. I've tried both, default gcc compiler and `DEPENDS += "clang-native"` hits the error. And `TOOLCHAIN ?= "clang"` hits the error, too.

[2017-10-08 21:00] kraj commented on #43
I think you can write a bbappend for rust-llvm-native in your layer and in that
[code]

[2017-10-10 11:21] raymanfx commented on #41
Okay, it works now :)
Turns out Ubuntu (17.04) is to blame here, the host toolchain it ships with seems to generate broken code in clang-native for some reason.
I switched to Fedora 26 a week ago and was able to compile beignet.

[2017-10-10 11:21] #41 closed

[2017-10-10 22:53] kraj commented on #41
thanks for the update

[2017-10-11 07:43] zzeroo commented on #43
@kraj Unfortunately this is not working ...

[code]
 results in this error.

[code]

Without rm `PassInfo.h` I tigger the original error from above.

[2017-10-11 13:40] kraj commented on #43
rust-native seems to be needing development headers and libraries from llvm, so deleting just one file is not going to be enough, there are two plausible approaches.

1. Install rust-llvm's headers into /usr/include/rust-llvm
2. See if you can live with llvm headers/libs from clang them delete then completely from rust-llvm and add a depends on clang-native to get them for building rust-native
3.

[2017-10-18 02:34] cardoe commented on #43
Just wondering why the clang package is providing LLVM when it would seem like you'd have another recipe to build LLVM and then one for clang. Granted its been ages since I've had to build clang and llvm but I recall them being separate tarballs in the past. I'm adding `PROVIDES = "llvm"` to rust-llvm to help the situation.

[2017-10-18 04:12] kraj commented on #43
ideally, every llvm based project could use a common libllvm.so but thats not the case. For any tools that you want to develop on top of say clang you pretty much need the development headers and libraries from llvm.

[2017-10-18 13:41] cardoe commented on #43
Well I see you're adding llvm to openembedded-core so I could certainly try to take advantage of that in the future. Looks like its a git only recipe however. Rust can switch between using its bundled llvm and an upstream version. That's how I package it up in Gentoo.

[2017-10-18 19:20] kraj commented on #43
That seems right, if rust can use upstream llvm then may be depend on the one in oe-core

[2017-11-09 07:16] romanek-adam opened #44 "Support for Clang Static Analysis"
Hi Khem!

I'd like to ask about the status of support for Clang Static Analyzer.

I see there's scan-build.bbclass with just one variable - SCANBUILD. I couldn't find any code which would handle it. Am I missing something?

I also found a [thread](https://lists.yoctoproject.org/pipermail/yocto/2015-August/026300.html) on the Yocto mailing list. What is the progress so far?

I'd be glad to contribu

[2017-11-09 13:09] zzeroo commented on #43
Hi @kraj I hope to bump this issue again. As a reminder and if that was not clear yet a project of mine needs just a libclang.so (version 3.9 or greater).
Unfortunately I can't use your meta-clang recipes direct because of the error (above). Can I extract libclang.so before installing, or skip all other installing steps?

Do you have any idea what else I could do? Looks like meta-rust is ignoring

[2017-11-09 16:42] kraj commented on #43
you can write a bbappend in your layer to delete in do_install_append

[2017-11-09 16:43] kraj commented on #44
its on my list of things to do. All contributions are welcome !!

[2017-11-12 14:40] zavorka opened #45 "It's not possible to use LTO"
Adding `-flto=thin -fuse-ld=gold` to the `CCARGS` variable causes linking errors. Have anyone even tried using LTO with yocto?

[2017-11-12 18:15] kraj commented on #45
@zavorka I havent used it distro wide, but on some packages I have used thin-lto. lto works ok on yocto with gcc and I thought it works well with clang as well. Can you describe the issue you are seeing.

[2017-11-14 03:10] zavorka commented on #45
@kraj Well, the first problem is that the `clang-cross-arm` recipe won't produce `LLVMgold.so` but that's easily fixed by appending `-DLLVM_BINUTILS_INCDIR=${includedir}` to the `EXTRA_OECMAKE` variable.

Then I put the `flto=thin -fuse-ld=gold` parameters into `TUNE_CCARGS` and substitute `ar`, `nm` and `ranlib` for their `llvm-` prefixed counterparts. Unfortunately, the `gold` linker produced by

[2017-11-15 03:14] kraj commented on #45
@zavorka thanks for trying it out. There are bunch of issues you are seeing

please submit a patch for clang-cross-arm to this layer
Also add a new issue to add lld-cross

binutils-cross gold issue needs investigation this looks like OE bug to me.

[2017-11-15 03:17] kraj commented on #43
@zzeroo I think there is nothing we should fix in meta-clang for this. and tackling it either ways as described below

1. making meta-rust depend on meta-clang
2. Write a bbappend in own layer to apply needed tweaks

[2017-11-15 03:18] kraj commented on #32
@sjames can you verify if it works ok with master for you ?

[2017-11-15 03:21] kraj commented on #20
clang build sequence builds clang-native once and reuses it for cross variants and it also means it reused it across architectures if someone builds form multiple architectures they will definitely see
the benefit. This is then used to build target clang. So even if we were able to trim down the build
to just do enough during native compile, we would still require full llvm-native for other use-ca

[2017-11-27 11:04] Radhika-aquarius opened #46 "Trying to build for raspberry pi"
I am trying to use morty branch of meta-clang.I am receiving the following error when i try to bitbake clang
ERROR: clang-native-3.9.1+gitAUTOINC+46079999e9_c3709e72d2-r0 do_compile: oe_runmake failed
ERROR: clang-native-3.9.1+gitAUTOINC+46079999e9_c3709e72d2-r0 do_compile: Function failed: do_compile (log file is located at build/tmp/work/x86_64-linux/clang-native 3.9.1+gitAUTOINC+46079999e9_c370

[2017-11-29 14:58] #43 closed

[2017-11-29 17:24] kraj commented on #46
@Radhika-aquarius Can you try to do a manual clone of the repo and see if you are able to do it

[code]
look into any network firewall issues you might have w.r.t. git protocol.

[2017-11-30 04:28] Radhika-aquarius commented on #46
Yes,I am able to clone it but where should I place it in the directory structure?

[2017-11-30 04:33] kraj commented on #46
OK then it should work even with bitbake fetch.  I wonder if it was a network glitch, are you able to to reproduce it always. Please update meta-clang to latest and use morty branch

[2017-11-30 06:26] Radhika-aquarius commented on #46
I am using morty 3.9.1 and bitbake clang is giving me the error repeatedly.I don't feel its a network glitch because error occurs repeatedly.Please provide detailed solution as I am new to this environment.

[2017-12-01 00:19] kraj commented on #46
this works fine here,
[code]

please retry and see if it helps

[2017-12-01 03:15] Radhika-aquarius commented on #46
On giving the following command:
git clone git:/github.com/kraj/meta-clang -b morty
I get this issue:
Cloning into 'meta-clang'...
ssh: Could not resolve hostname git: Name or service not known
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

[2017-12-01 03:31] kraj commented on #46
there was a missing '/' there after git:/ retry

[2017-12-01 03:45] Radhika-aquarius commented on #46
bitbake -cpatch clang
Loading cache: 100% |############################################| Time: 0:00:00
Loaded 1316 entries from dependency cache.
ERROR: Nothing PROVIDES 'clang'. Close matches:
  slang

Summary: There was 1 ERROR message shown, returning a non-zero exit code.

[2017-12-01 04:23] kraj commented on #46
i missed specifying
[code]
retry after running this

[2017-12-05 05:25] Radhika-aquarius commented on #46
I am able to build openembedded-core individually with the way explained by you.I am trying to build for raspberry pi which still gives an error.I have an environment provided by the supplier and I have to build on top of that.I am able to build for 5.0.1 but not morty. Can you please tell me how can I look into the error oe_runmakae which I get for morty.I want to know what is changed in 5.0.1 th

[2017-12-05 05:28] kraj commented on #46
try to use pyro branch for meta-clang

[2017-12-11 11:20] sam0302 opened #47 "Building coreclr fails when building with clang 5.0.1"
There seems to be a bug with clang 5.0.1 version as mentioned in https://reviews.llvm.org/D33852
As a result when i try to build coreclr, it gives me error. This has been mentioned in : https://github.com/dotnet/coreclr/issues/15197

Is it possible to create a patch with the changes mentioned in https://reviews.llvm.org/D33852  and update it when clang 5.1 is officially released?

[2017-12-13 02:42] kraj commented on #47
@sam0302 seems a good patch.  I will test it out and push it out by this weekend unless someone else provides a patch earlier.

[2017-12-13 03:05] kraj commented on #47
@sam0302 can you test it now by pulling latest master and let me know if issue is gone. If so we will backport it to rocko as well

[2018-01-09 12:15] romanek-adam opened #48 "Unable to build clang for IntelCE i686"
Hi,

recently I've started the work on #44. Unfortunately I have some trouble building clang when the target is i686 (I'm doing this in context of IntelCE builds). I'm building it as part of Yocto 2.1 using meta-clang from master.

[code]

It looks like clang build system uses i686-rdk-linux-gcc for linking whereas it should probably use i686-rdk-linux-ld directly or at least provide --sysroot=...

[2018-01-10 18:32] kraj commented on #48
@romanek-adam good that you took on #44, I am very interested in it. It seems you are using krogoth branch for oe-core but different branch for meta-clang. Usually you should be using krogoth branch for meta-clang too. Although I would suggest to use master of all repos for such a work.

[2018-01-10 18:34] kraj commented on #47
should be fixed please reopen if still not fixed.

[2018-01-10 18:34] #47 closed

[2018-02-28 12:08] cheese opened #49 "How to make clang-cross build with libc++ by default?"
Currently clang-cross builds target packages with stdc++. That makes clang target binaries does not link with libc++.

[2018-02-28 17:58] kraj commented on #49
yes you might want to add
[code]
in recipe where you want to link with libc++

[2018-03-05 01:15] #49 closed

[2018-03-08 17:26] Lorac opened #51 "Missing compiler-rt-staticdev in SDK"
With a recipe using `TOOLCHAIN = "clang"` and its main package installed in an image, `bitbake myImage -c populate_sdk` contains clang compiler, but missing `libclang_rt.builtins-aarch64.a`

When cross-compiling with `cmake` tries to compile a test program it fails.

[code]

[2018-03-08 18:37] Lorac commented on #48
@romanek-adam I don't know if you fixed it by now, but for our case, we patched the

https://github.com/Kitware/CMake/blob/master/Modules/CMakeDetermineSystem.cmake#L89

by hardcoding the CMAKE_TOOLCHAIN_FILE path in a script that our developers run.

You might wanna check the resulted [OEToolchainConfig.cmake](https://github.com/openembedded/openembedded-core/blob/master/meta/recipes-devtools/cma

[2018-03-10 02:32] kraj commented on #51
Can you add
[code]
in local.conf and see if it helps.

[2018-03-10 02:34] kraj commented on #48
@romanek-adam I think combining meta-clang/master with yocto 2.1 release is not a tested combo. I think you should be using master of every layer for this to fix.

[2018-03-10 03:28] Lorac commented on #51
Yes, it works by adding that line, maybe I should've mentioned it... actually, we are doing that in the `myImage`,

But I don't think it should be the image or local.conf that adds it, but it should come by itself when the image is installing something that declares the `TOOLCHAIN = "clang"`, am I wrong?

[2018-03-10 04:46] kraj commented on #51
It is a bug nevertheless in sdk generation it should have included the dev packages for compiler-rt

[2018-03-10 04:56] Lorac commented on #51
To get the "libclang_rt.builtins-aarch64.a" I need to add the `compiler-rt-staticdev`, I didn't check for the `compiler-rt-dev` package

[2018-03-10 07:48] kraj commented on #51
thats ok, I think if you add compiler-rt-staticdev that should be enough, or alternatively move the .a to main package itself but that might not be best.

[2018-03-10 20:06] Lorac opened #52 "fresh clone of poky/meta-oe/meta-clang. clang fails to build"
[code]

I cloned meta-oe, poky, meta-clang, all on `master` and my machine is `genericx86-64`

When I invoke `bitbake clang` it fails. Did I misconfigured something? I am not sure why I get `unknown target CPU 'armv8.1-a'`

[2018-03-10 20:23] kraj commented on #52
@Lorac it seems to be a bug in local patch we are carrying

https://github.com/kraj/meta-clang/blob/master/recipes-devtools/clang/compiler-rt/0005-Pass-march-armv8.1-a-instead-of-mcrc.patch

Can you try to disable that patch and see if it helps

[2018-03-11 00:04] Lorac commented on #52
I disabled the patch and it works without a problem!

Thanks to the `PARALLEL_MAKE` you have in the `do_compile` section, I had to tune it down, I was running out of ram... 😞

[2018-03-11 00:29] kraj commented on #52
Glad to know it worked would it be possible to check if it still works on aarch64

While you are here

MACHINE = “qemuarm64” bitbake compiler-rt

Should do it

[2018-03-11 03:42] Lorac commented on #52
That's fails because
[code]

[2018-03-11 03:44] kraj commented on #52
yeah so we still need this patch, just need to make it conditional on TARGET_ARCH being aarch64

[2018-03-11 04:05] Lorac commented on #52
Something like that?

[code]

[2018-03-11 04:37] kraj commented on #52
thats a solution we  can do yes. although I Wanted to see if we could fix the CMakefile itself.

[2018-03-11 04:48] Lorac commented on #52
maybe with `CMAKE_HOST_SYSTEM_PROCESSOR`

[2018-03-11 04:50] kraj commented on #52
yes that seems a good approach

[2018-03-11 05:03] Lorac commented on #52
I would like to understand what are the drawbacks of using the `SRC_URI` way? I think it might be because it feels like two patches but done in two different ways?

[2018-03-11 05:57] kraj commented on #52
sometimes  conditional patches are not well tested and secondly, we want to have exact source
and fixing CMakefile method is upstreamable.

[2018-04-25 18:27] sronsse opened #55 "clang within SDK for cross-compilation"
Hi @kraj - first off, thank you for the effort you are putting in maintaining this layer!

I am currently trying to include clang as part of my SDK (no need to build packages within my images with it) and so far I've been unsuccessful in managing to compile a simple hello world executable after installing my generated SDK through ```bitbake -c populate_sdk <image>``` - I have tried various combina

[2018-04-26 02:28] sronsse commented on #55
I moved the libclang_rt.builtins.aarch64.a file from tmp/work/... and this now works. After going through the issues on github I also noticed this is a known bug: https://github.com/kraj/meta-clang/issues/51

Closing this as it's therefore a duplicate.

[2018-04-26 02:28] #55 closed

[2018-04-26 17:41] sronsse opened #56 "cxxabi.h not found"
Hi @kraj,

Managed to get 99% of my code base to compile, so thank you. I am currently running through a last issue: ```#include <cxxabi.h>``` fails as the file cannot be found. In my SDK, I only have libstdc++'s version located here: ```<sdk-root>/usr/include/c++/6.4.0/cxxabi.h```

Reproducing the issue is straight-forward, any .c file including cxxabi.h will fail under the SDK environment (but n

[2018-04-26 20:37] sronsse commented on #56
FYI - manually copying ```build/tmp/work/aarch64-sronsse-linux/libcxx/5.0.1+gitAUTOINC+1368f4044e_598ae4fa2e_5df6b5da0d_29d1624468-r0/build/include/c++/v1/cxxabi.h``` (and ```__cxxabi_config.h```) into my SDK sysroot ```under usr/include/c++/v1/``` "works". I am not sure what triggers the proper copy of libcxxabi's headers or how to fix it nicely.

[2018-04-27 04:52] kraj commented on #56
@sronsse do you see same issue on master branch as well ?

[2018-04-27 18:45] sronsse commented on #56
I tried it on my end and confirmed that fixed the issue! Do you have any potential idea/solution for fixing the cxxabi.h problem on rocko?

[2018-04-28 05:38] sronsse commented on #56
I am using another meta for tegra support which requires GCC6 because of CUDA9 compatibility issues with GCC7+.

[2018-04-28 06:47] kraj commented on #56
There has been changes how C++ headers are included between gcc6 and gcc7 in OE I think thats whats the issue is here. You might be able to pin point it if you look into gcc6 and gcc7 recipe common changes.

[2018-04-28 07:14] sronsse commented on #56
I'll check it out on Monday and let you know, but I'm not sure this is related - these headers are supposed to be brought by meta-clang and libcxx in particular, aren't they?

[2018-04-30 22:54] sronsse commented on #56
I confirm switching to gcc7 does not change anything. The libcxx abi from meta-clang headers are still not copied unfortunately.

[2018-05-01 19:07] bernardoaraujor opened #57 "compiler-rt's lib/scudo/CMakeLists.txt enables -march=armv8.1-a by default"
I included meta-clang into my genericx86-64 build.

However, compiler-rt presented the following error:
[code]

My temporary solution was to pop up a devshell and do the following modification:
[code]

Not 100% sure how to permanently solve this. Maybe add PACKAGECONFIG[scudo] with some cmake tweaks?

[2018-05-02 05:14] kraj commented on #57
This is same problem as reported in issue #52 and its due to the patch as said in comment below

https://github.com/kraj/meta-clang/issues/52#issuecomment-372063146

[2018-05-02 05:28] kraj commented on #57
Can you try the patchlet I proposed here in review comment

https://reviews.llvm.org/D35696#820019

[2018-05-13 06:47] #57 closed

[2018-05-13 06:47] #52 closed

[2018-05-13 06:49] kraj commented on #56
So it seems the gxx-headers from oe-core is in effect here. We have to see what we changes in oe-ocre with respect to system headers

[2018-05-13 06:51] kraj commented on #46
@Radhika-aquarius  Can we close this issue or do you still need help ?

[2018-05-16 04:11] kraj commented on #44
This should be available now.

[2018-05-16 04:11] #44 closed

[2018-05-16 05:33] #51 closed

[2018-05-23 16:22] mdavis777 opened #58 "PackageConfig for dynamic libraries"
Is it possible to make the dynamic libraries portion of the target class (-DLLVM_BUILD_LLVM_DYLIB=ON -DLLVM_LINK_LLVM_DYLIB=ON) a packageconfig?

They are causing issues when I try to use clang with stdlibc++ and especially libgcc_s.  Specifically I am getting a lot of "commandline error option registered more than once".

Something along the lines of [this](https://github.com/mdavis777/meta-clang

[2018-05-24 01:58] bernardoaraujor opened #59 "[compiler-rt on pyro branch] ninja: build stopped: subcommand failed."
I need clang 4, so I checked out meta-clang to pyro branch.

compiler-rt's do_compile crashes with the following issue:
[code]

[2018-05-24 02:31] bernardoaraujor commented on #59
full log:

[code]

[2018-05-24 02:32] bernardoaraujor commented on #59
These patches seem to be addressing a similar problem:
https://github.com/intel/intel-iot-refkit/blob/master/meta-refkit-core/bbappends/meta-clang/recipe-devtools/clang/compiler-rt_%25.bbappend

[2018-05-24 02:41] bernardoaraujor commented on #59
Downloaded the two patches into `/recipes-devtools/clang/compiler-rt` and added them to SRC_URI inside compiler-rt_git.bb.

Building fine now.

https://github.com/intel/intel-iot-refkit/tree/master/meta-refkit-core/bbappends/meta-clang/recipe-devtools/clang/compiler-rt

[2018-05-24 02:41] #59 closed

[2018-05-24 02:54] kraj commented on #58
@mdavis777 please prose this patch as a pr, I think using packageconfig is a good thing and reversing the logic is not required so patch as such seems ok to me.

[2018-05-24 03:57] bernardoaraujor commented on #59
oops, my bad man! I had forgotten to checkout my poky to pyro before I started!
thanks @kraj for pointing that out.

tested with poky and meta-clang on pyro and no issues arised...

I guess patches are only needed in the unusual case of meta-clang on pyro and poky on master, which is not ideal anyways.

So I think the pull request is not really necessary. Let me know if you think otherwise.

[2018-05-24 13:17] mdavis777 commented on #58
Add pull request #60

[2018-05-24 13:17] #58 closed

[2018-06-11 05:59] Lorac opened #62 "ld.lld is not deployed to the recipe-sysroot when depending on it."
I have a recipe that `DEPENDS` on `lld`, but all the lld targets (`lld-link ld.lld ld64.lld wasm-ld`) are never deployed to the recipe's sysroot. Then when trying to use `ld.lld`, it can't find it.

[2018-06-11 22:44] kraj commented on #62
@Lorac This seems a bug to me if you are seeing this in target lld recipe.
We do not have cross recipes for building lld yet. May be we should.

[2018-06-11 23:30] Lorac commented on #62
I forgot to mention my recipe is an `AArch64` target.

[2018-06-11 23:42] Lorac commented on #62
To make it a bit more precise I think I should've of said

Sorry for the confusion

[2018-07-01 19:36] voltamund opened #63 "CMake / clang may fail with generated SDK"
I use the yocto rocko release and wanted to build an SDK that includes the clang compilers:
MACHINE="raspberrypi3" bitbake core-image-minimal -c populate_sdk
I only added the meta-clang layer but did not add TOOLCHAIN ?= "clang" to local.conf.

When I use CMake with the generated SDK I get errors during the configuration of the C++ compiler:
Linking fails with:  cannot find -lc++

To use the clang

[2018-07-01 19:50] voltamund opened #64 "SDK does not contain libclang_rt.builtins-i586.a but libclang_rt.builtins-i386.a"
I tried to use clang compilers with a Yocto SDK for MACHINE qemux86 (rocko)

The build fails with:
.../sysroots/x86_64-pokysdk-linux/usr/bin/i586-poky-linux/i586-poky-linux-ld: cannot find .../sysroots/i586-poky-linux/usr/lib/clang/5.0.1/lib/linux/libclang_rt.builtins-i586.a: No such file or directory

The directory contains libclang_rt.builtins-i**386**.a There are a lot of other files in this di

[2018-07-04 15:40] kraj commented on #64
@voltamund can you check if you see same issue with master or sumo ?

[2018-07-04 15:48] kraj commented on #63
@voltamund your steps are correct. it seems libc++-dev is not added to SDK somehow.  Can you try adding
[code]
in local.conf

Please confirm if you see same issue with master/sumo, if you are on older releases you might need to backport

https://github.com/kraj/meta-clang/commit/29f52010a2591282b0b3c03bc88a7a7582d809f4
https://github.com/kraj/meta-clang/commit/82d3e0ec66bd63a348785d321366242c902ed

[2018-07-06 17:02] voltamund commented on #63
Thank for the help, Kraj.
Using `TOOLCHAIN_TARGET_TASK_append = " libcxx-dev"` works

I also tried this with the sumo branch (meta-clang = "sumo:707eeaeffb94fbd561eacb0fc8fb1194b531a6de"). There was another issue with this branch. The SDK installs some files into /sysroots/cortexa7hf-neon-vfpv4-poky-linux-gnueabi/usr/lib/clang/6.0.**0**/ but the linker looks into 6.0.**1** I could fix this by chan

[2018-07-06 17:19] kraj commented on #63
@voltamund These issues are already fixed on master. I have cherry-picked some commits to sumo and pushed. Please update and re-validate with sumo and let me know how it goes.

[2018-07-08 15:56] voltamund commented on #63
I tested again with the updated sumo branch (meta-clang = "sumo:fa4592d574b039d5c4a14045902125478d0e09b3"). To me it looks like the fixes are not enough.

If I understand correctly the RDEPENDS_${PN}**_toolchain-clang** in packagegroup-core-standalone-sdk-target.bbappend should put these files into the SDK. It looks like this only works if local.conf contains TOOLCHAIN ?= "clang" or at least one r

[2018-07-08 16:54] voltamund commented on #64
I do not see this issue with the sumo branch (meta-clang = "sumo:fa4592d574b039d5c4a14045902125478d0e09b3"). The SDK still contains libclang_rt.builtins-i**386**.a but the linker now also looks for this file and not for libclang_rt.builtins-i**586**.a.

[2018-07-08 22:31] kraj commented on #64
its possible that it was a bug that got fixed over time. I think its fine if you send a patch for creating a symlink for i586 case for rocko

[2018-07-09 18:46] mdavis777 commented on #63
This pull breaks building images with libstdc++ and libunwind due to the conflict between libunwind and libcxx.  Perhaps instead of a RDEPENDS it could be included with RRECOMMENDS so that it can be listed under BAD_RECOMMENDATIONS?

[2018-07-09 20:30] kraj commented on #63
I see thanks for report I guess we could just make libcxx provide everything that libunwind provides and there by replace it with libc++ third option is to not conflict at all with gcc runtime and stop proving libunwind from libc++

Can you try these options and see if it helps

[2018-07-11 17:18] voltamund opened #66 "Different default stdlib for native and nativesdk clang compiler"
I noticed that simple C++ program does not have a dependency on libc++ if it is compiled by a bitbake recipe, it will depend on libstdc++. If the same program is built inside the SDK environment it depends on libc++.
In clang_git.bb there is:
[code]
I think this has the effect that by default a bitbake recipe with TOOLCHAIN = "clang" uses libstdc++, however the clang compiler from the SDK by defau

[2018-07-11 20:22] kraj commented on #66
this is right. SDKs could produce static binaries which then does not depend upon the libraries in image. So clang runtime was added as default since its static link friendly. However, you bring up a good point here. Probably, we should not enable these packageconfigs just for nativesdk alone, may be it should be enabled for both cross compiler and SDK compiler, since we generate SDKs based upon i

[2018-08-22 13:56] ThomasRausU opened #68 "how does scan-build work"
Hi, I have problems using scan-build target
It tries to link against host libraries?
Warnings e.g.:
i586-poky-linux-ld: warning: library search path "/usr/lib/gcc/x86_64-linux-gnu/7.3.0/32" is unsafe for cross-compilation
...
What do I have to do to check my recipe with scan-build? Do I have to use clang as it's compiler? (TOOLCHAIN, TARGET_CXXFLAGS_append_toolchain-clang)
thx

[2018-09-04 05:16] ThomasRausU commented on #68
Thank you - worked!

[2018-09-04 18:49] #68 closed

[2018-09-20 01:12] sronsse opened #72 "LLVM's lld within SDK"
Hi @kraj,

Thanks again for the development of this layer - it's been very helpful. I am reaching out as I'd like to experiment with lld along with clang. I've tried the latest master, but only clang is present when installing my SDK - is there a way to "cross-link" for my target using lld?

Thanks!

[2018-09-20 01:47] kraj commented on #72
@sronsse lld-native is now built along. So if you try it with -fuse-ld=lld it should try to use lld for linker
try it out.

[2018-09-20 02:16] sronsse commented on #72
@kraj No luck - clang cannot find the lld linker.
lld doesn't look to be built as part of my toolchain. Here is what I have after installing the SDK, I see only the gold and bfd version:
/opt/distro/0.1.0/sysroots/x86_64-sronssesdk-linux/usr/bin/x86_64-sronsse-linux/x86_64-sronsse-linux-ld.bfd
/opt/distro/0.1.0/sysroots/x86_64-sronssesdk-linux/usr/bin/x86_64-sronsse-linux/x86_64-sronsse-linux-ld.g

[2018-09-20 03:27] kraj commented on #72
ah you are trying it in SDK. I think so far I have it in cross compile sysroot for building with yocto, for SDK we will need lld-crosssdk recipe, now that lld-native is working it is next step. I have not yet got around to that

[2018-09-20 04:00] sronsse commented on #72
Gotcha! Yep this is exactly what we need - thanks!

[2018-12-26 21:18] ericblade opened #76 "lld-native failing install step?"
Hi! I'm attempting to add clang to a working bitbake system right now, so I simply added the meta layer, and then attempted to run bitbake clang

After chugging around for a while, I got an error in lld-native do_install:

[code]

Am I doing something incorrectly?

[2018-12-26 22:20] kraj commented on #76
@ericblade are you working off master ? if so, which architecture are you building for

[2018-12-26 22:31] ericblade commented on #76
Hi, thanks for the quick response.  I'm not at all familiar with this toolset, so forgive me if I don't really know what I'm doing. :-)  I've been using bitbake for years, but I pretty much just write fairly simple recipes with it.

Building for an ARM system, using master. I didn't see any releases noted in github, so I'm not sure if there's a good spot to pin it at or not.

[2018-12-26 22:58] kraj commented on #76
@ericblade I think morty definitely is a problem for lld. Latest master would work with master or at max with thud ( yocto 2.6 ) release. ARM is well supported so no issues there. Please update your core layer to use 2.6 release and that will work better.

[2018-12-26 23:13] ericblade commented on #76
way easier said than done, working with a commercial product that moves at a bit of a slow pace to adjust to most recent. :-) Im not entirely certain what all I need out of this, only that my task is to figure out how to build a piece of software in bitbake, and a big catch on it, is that it only builds with clang. :-|

[2018-12-27 00:37] ericblade commented on #76
@kraj thanks for the help, looks like it all built successfully when i switched the branch for meta-clang to the morty branch, so I'm going to close this out as "yes, I was in fact doing something wrong" because i didn't see the branches for the different releases :-)

Thanks again, happy holidays!

[2018-12-27 00:37] #76 closed

[2018-12-27 00:43] kraj commented on #76
@ericblade I understand, I am trying to reproduce the problem here(with master), If I can, I will see what can be done. Maybe lld should be merged into clang recipe itself, since standalone it does not add a lot of value.

[2018-12-27 02:31] kraj commented on #76
Glad it worked for you ! happy holidays to you too

[2018-12-27 06:20] d-wang03 opened #78 "No recipes available for: meta-clang/recipes-kernel/kernel-selftest/kernel-selftest.bbappend"
Hello Kraj,
I'm new to yocto project. I just followed the steps in ReadMe, and when I came to the building step, an error message jumped out. I don't know how to fix it.

wangding@wangding-VirtualBox:~/git/openembedded-core/build$ MACHINE=qemux86 bitbake core-image-minimal
Parsing recipes: 100% |#######################################################################################################

[2018-12-27 07:20] kraj commented on #78
you need meta-oe layer, from meta-openembedded. Soon we will have dependency on that layer to build clang anyway.

[2018-12-28 01:38] kraj commented on #78
please test it with latest master and confirm that it is fixed

[2018-12-28 08:13] d-wang03 commented on #78
It works! Thank you!

[2018-12-28 08:13] #78 closed

[2019-01-09 19:29] madscientist42 opened #82 "Build process complains about multiple providers for libunwind"
Using Sumo to build for an aarch64 target...

ERROR: Multiple .bb files are due to be built which each provide libunwind:##########################################                                                                                                                       | ETA:  0:00:00
  /home/fearl/g2_wear_build/build/../meta/recipes-support/libunwind/libunwind_1.2.1.bb
  /home/fearl/g

[2019-01-10 03:42] kraj commented on #82
You can disable libunwind in libcxx add something like below in `local.conf`
[code]

[2019-01-10 03:43] kraj commented on #72
closing please re-open if needed

[2019-01-10 03:43] #72 closed

[2019-01-10 03:48] kraj commented on #62
Does it still happen with latest lld work on master ?

[2019-01-10 14:15] madscientist42 commented on #82
Does that cripple the unwind support?

On Wed, Jan 9, 2019 at 9:43 PM Khem Raj <notifications@github.com> wrote:

[2019-01-10 15:48] kraj commented on #82
it might you have to try

[2019-01-10 15:51] madscientist42 commented on #82
Nod.  So far it doesn't seem to turn off the unwind support (Annoying...)- trying to figure out what might be off for further info, etc. for the issue.  Will advise shortly.

[2019-01-10 15:58] madscientist42 commented on #82
Doesn't work with the suggested local.conf addition, works fine with a .bbappend for libcxx in my local metadata layers.

We'll see if I can cheat and use the GCC supplied libunwind for the project needing clang support.

[2019-01-10 16:03] kraj commented on #82
it was wrongly specified it should be
`
PACKAGECONFIG_remove_pn-libcxx = "unwind"
`

[2019-01-10 16:21] madscientist42 commented on #82
Heh...  It happens.  Thanks for the update.  I've not messed with the interface there from the local.conf edge so I couldn't see that one.    I'm building now, I'll correct it when I have intel on how the build is progressing.  It _**looks**_ like it's working as intended from start to finish.

[2019-01-10 22:36] madscientist42 commented on #82
Seems to be that it's MUCH happier.  I've ran into a few other unrelated problems so I can't tell you it fully works right now- so I'll keep people appraised over the next couple of days while I sort out some of the client's self-inflicted woes first...  X-D

[2019-01-11 00:38] kraj commented on #82
Sounds good

[2019-01-11 08:22] romanek-adam commented on #48
For anyone interested - recently I forked this repository and created a Yocto 2.1 compatible branch based on this repo's master - https://github.com/romanek-adam/meta-clang/commits/master-yocto-2.1. It works perfectly, Clang 7 is compiled without any issues and Clang Static Analyzer can be used via scan-build.bbclass.

At this point I assume this issue can be closed.

[2019-01-11 08:22] #48 closed

[2019-01-22 15:40] madscientist42 commented on #82
Looks like this is a proper workaround.  I've other issues, but I can open another ticket for those.  :D

[2019-01-22 15:43] madscientist42 opened #87 "FEATURE REQUEST : clang 7.0 proper for sumo..."
Sumo's recent enough to consider moving it up to 7.0 either in a branch  (sumo-7.0) or in the main one for sumo.

Got a problem where my client is needing 7.0 for build of their application, but moving to thud ends up doing something...odd...with the bootloader process build that works in sumo.

If I do the work and provide a PR, would it be considered?

[2019-01-22 16:47] madscientist42 commented on #87
I concur on the sentiment.  Ideally, I'd love to get the whole thing to Thud and a bit more movable forward so my clients aren't mired in the past.  Short-term, they're needing image build and an SDK **_now_** (Heh...when is it ever NOT a "now"?) so I'm going to slap a band-aid on their problem since they know their stuff works right with 7.0 and see if #2 is a viable medium-term option so others

[2019-01-27 00:54] kraj commented on #82
Closing based on above comment. Feel free to reopen if not resolved yet.

[2019-01-27 00:54] #82 closed

[2019-01-27 00:56] kraj commented on #66
@voltamund  Can you try with latest master ? I have fixed building target packages with compiler-rt/libcxx, I would be interested to hear if this helps your case as well.

[2019-01-28 00:54] kraj commented on #45
@zavorka now lld is available in cross toolchain adding `-fuse-ld=lld` should be able to use it. Can you try your experiment with latest meta-clang ?

[2019-01-29 01:46] Lorac commented on #62
With `poky` at master and `meta-oe` at master I get this weird error

[code]

I can fetch other repository fine...what could cause something like this?

[2019-01-29 02:20] kraj commented on #62
@Lorac can you try `git clone https://github.com/llvm/llvm-project -b release/8.x` on same machine and see if that works ?

[2019-01-29 02:21] Lorac commented on #62
Yes that works.

[2019-01-29 02:23] kraj commented on #62
OK, it fetches fine for me here. May be try to change `protocol=git` ?

[2019-01-29 02:34] Lorac commented on #62
It fetches from a mirror that we set up because the filename matches `git2_github.com.llvm.llvm-project.tar.gz` and it downloads it? But the file is only 6532 bytes...

I'm wondering why the version or a sha isn't attached to those .tar.gz fileo?

It seems to work with the `git` protocol.

[2019-01-29 02:36] Lorac commented on #62
But I'm getting the warning `WARNING: llvm-project-source-8.0.0-8.0.0-r0 do_fetch: Failed to fetch URL git://github.com/llvm/llvm-project;protocol=git;branch=release/8.x, attempting MIRRORS if available`

But it can fetch it from another mirror but don't know which.

[2019-01-29 02:40] kraj commented on #62
Hmm try to do `bitbake -ccleanall llvm-project-source-8.0.0`

[2019-01-29 02:57] Lorac commented on #62
I think the warning is because it still trying to fetch from our mirror and :
This is the first attempt
[code]
Then tries multiple other mirrors.

Maybe I should clear that remote mirror cache.

The last attempt that it does succeced with `LANG=C git -c core.fsyncobjectfiles=0 clone --bare --mirror https://github.com/llvm/llvm-project`

[2019-01-29 03:18] Lorac commented on #62
Ok sooo... when it tries to fetch from our mirror which isn't https we get `URL transformed to HTTPS due to an HSTS policy` from `wget`. Then gets redirected to some HTML page, download that then obviously fails to untar it.

What I don't understand is why it isn't falling back to the github url...

[2019-01-29 03:33] kraj commented on #62
You can disable PREMIRRORS for this recipe or alternatively delete the bad tar from your mirror

[2019-01-29 03:44] Lorac commented on #62
The mirror doesn't have the tar.gz in the cache it only downloads because `wget` gets redirected.

So it works without the mirror, but I'm wondering should our mirror support https? Or the bitbake fetcher has a bug?

[2019-01-29 04:05] kraj commented on #62
may be try `BB_GENERATE_MIRROR_TARBALLS = "0"` but it could be a fetcher problem too. but somewhere this file is hosted I dont know where

[2019-01-29 16:19] Lorac commented on #62
I think it's this : https://bugzilla.yoctoproject.org/show_bug.cgi?id=9061

[2019-01-29 19:03] kraj commented on #62
yes possible I guess do you have a way to go around the fetcher issue and see if you can get to lld

[2019-01-29 19:33] Lorac commented on #62
I have a way around it, I'll do a test tonight and update if I can find the lld tool.

[2019-01-30 01:38] Lorac commented on #62
It is inside the recipe-sysroot-native so all is good!

[2019-01-30 02:22] kraj commented on #62
Can you check if ```-fuse-ld=lld``` works and uses lld ?

[2019-01-30 13:52] Lorac commented on #62
`-fuse-ld=/builds/yocto/dublin/tmp/work/aarch64-piko-linux/MYRECIPE/1.74.58+gitAUTOINC+cd2114bd5c-r0/recipe-sysroot-native/usr/bin/ld.lld -flto`

I had to use `ld.lld` otherwise I get this error message : https://github.com/llvm-mirror/lld/blob/master/tools/lld/lld.cpp#L139

[2019-01-30 15:38] kraj commented on #62
hmm that seems to be a bug to me. it seems to be failing to detect `-flavor`

[2019-02-08 06:46] kraj commented on #45
https://github.com/kraj/meta-clang/commit/00b9cd93d591099071e7087b9a354da6338dc1b7

lets clang itself build with Thin LTO, so I am interested to know if it will work for other recipes

[2019-02-10 03:27] kraj commented on #45
https://github.com/kraj/meta-clang/pull/96

should help with this issue can you verify with latest master ?

[2019-02-10 03:35] kraj commented on #66
Fixed

[2019-02-10 03:35] #66 closed

[2019-02-11 15:22] kraj commented on #45
@zavorka can you try latest master, -fuse-ld=lld should behave better hopefully.

[2019-02-13 17:54] kraj commented on #62
I have validated this with SDK that lld is working ok

[code]

[2019-02-13 17:54] #62 closed

[2019-02-13 18:03] kraj commented on #63
works ok with latest meta-clang/master

I built a CMake project successfully using clang and gcc and clang+clang-runtime

https://github.com/kigster/cmake-project-template

[code]

[2019-02-13 18:03] #63 closed

[2019-02-13 18:07] kraj commented on #64
@voltamund can you retry with latest master which has clang8 now ?

[2019-02-13 18:07] kraj commented on #45
LTO work and -fuse-ld=lld works too in SDK environment as well as internal builds.

[2019-02-13 18:07] #45 closed

[2019-02-25 10:31] tomasz3dk opened #103 "FEATURE REQUEST: Clang-tools-extra"
Is any chance to include clang-tools-extra (or only clang-tidy) into layer?

[2019-02-25 15:01] kraj commented on #103
Yes sure that will be a good  addition  but I dont know when I can get to that, but if someone beats me tto the patch that will be awesome.

[2019-02-26 07:02] tomasz3dk commented on #103
Well. I can try. Can you provide some hints from which recipes should i start looking at?

[2019-03-05 12:40] MastaG opened #106 "clang-tblgen no such file or directory?"
Hi I'm using your meta-clang bsp-layer in my project and set the following in order to enable it by default:

TOOLCHAIN ?= "clang"
TARGET_CXXFLAGS_append_toolchain-clang = " --stdlib=libc++"
TUNE_CCARGS_append_toolchain-clang = " --rtlib=compiler-rt --stdlib=libc++"

I'm using latest rev of master branches of bitbake, meta-openembedded, openembedded-core etc.

Build Configuration:
BB_VERSION

[2019-03-05 18:05] kraj commented on #106
you do not need to set

[code]

anymore its already default when `TOOLCHAIN = "clang" `

The build issue seems quite unique to me, usually this error means it did not find right ldso to execute it. So you might want to launch it using right ldso from /lib or /lib64 whereever it is on your
host distro. If that does not run either then I would think it did not build it correctly, maybe a build race

[2019-03-05 18:34] tomasz3dk commented on #103
I've tested latest commit on master branch and it seems that clang-tools-extra are already included. Did you provide some patch or maybe changing revision do the job or maybe I missed something ;)?

[2019-03-05 18:38] kraj commented on #103
build has been overhauled recently to use monorepo, which has enabled building additional tools however, I have not tested extra tools. if it works for you then close this ticket.

[2019-03-05 18:52] tomasz3dk commented on #103
Ok. I'm closing it.

[2019-03-05 18:52] #103 closed

[2019-03-06 15:46] MastaG commented on #106
Alright, so I only set: TOOLCHAIN = "clang"
Furthermore, I've updated my host OS (Fedora 29 x86_64) and all meta bsp-layers again.
I've removed some distro features such as: ld-is-gold

And started fresh again.. but still some binaries do not run:
-bash: /media/data/home/mastag/odroid-oe-core/build/tmp/work/x86_64-linux/clang-native/8.0.0-r0/build/tools/clang/stage2-bins/NATIVE/bin/llvm-config: No

[2019-03-07 05:08] kraj commented on #106
I use archlinux and ubuntu 18.04 and it builds without issues for me for all arches I try. I use Yoe Distro

https://github.com/YoeDistro/yoe-distro

[2019-03-07 06:50] MastaG commented on #106
Of course my friend: https://www.mastag.nl/llvm.tar.gz

Reason that llvm-lit works and the others don't is because the llvm-lit is a python script.
The other ones are ELF-files and do not run for some reason.

Did you install llvm/c-lang or other packages on your host OS ?

[2019-03-07 14:35] kraj commented on #106
yes I have clang installed on my host. your binaries work perfectly fine on my archlinux host here

[code]

[2019-03-07 14:50] MastaG commented on #106
well... that's the strangest thing I ever came across..

`ldd llvm-tblgen
	linux-vdso.so.1 (0x00007ffccfbaf000)
	libpthread.so.0 => /lib64/libpthread.so.0 (0x00007f635834a000)
	libz.so.1 => /media/data/home/mastag/odroid-oe-core/build/tmp/work/x86_64-linux/clang-native/8.0.0-r0/recipe-sysroot-native/usr/lib/libz.so.1 (0x00007f6358330000)
	librt.so.1 => /lib64/librt.so.1 (0x00007f6358326000)
	libdl

[2019-03-07 15:15] kraj commented on #106
I do not have fedora host handy, but you could try building it in a virtualbox running ubuntu 18.04 which is freshly installed, just so you can take out the host factor. Since the binraries are running ok, I think its something to do with host.

[2019-03-07 15:17] MastaG commented on #106
yeah I think so as well.
Thanks for helping out my friend :)
I'll continue to investigate this on my own and close the issue for now.

[2019-03-07 15:21] kraj commented on #106
No problem, Please keep me posted if you find whats the solution, or need help.

[2019-03-13 08:55] RichardSun1116 commented on #106
I encountered the same problem as MastaG mentioned, and I tried to created a symbolic link under /lib/ to workaround it.
here are my steps:
$ cd /lib
$ ln -nfs /lib64/ld-linux-x86-64.so.2 ld-linux-x86-64.so.2
after this work , the llvm-tblgen can run successfully and clang could be generated.
My environment is the same as kraj's "ubuntu 18.04", but I compiled the arm(32-bits) project.
I think it m

[2019-03-13 09:23] MastaG commented on #106
I was building for 32bit arm as well :)
I'm going to try it right away!

Op wo 13 mrt. 2019 09:55 schreef RichardSun1116 <notifications@github.com>:

[2019-03-13 09:53] MastaG commented on #106
Yeahh!!!!
Having the ld-linux-x86-64.so.2 symlinked to  /lib makes the binaries run for me :+1:
@kraj
What could be the cause for this?
because ldd does show this:
/lib/ld-linux-x86-64.so.2 => /lib64/ld-linux-x86-64.so.2 (0x00007f635838a000)

It seems /lib/ld-linux-x86-64.so.2 has to exist for the binary to run...
Meaning that the linker used to build these binaries probably have some hardcoded va

[2019-03-13 13:44] kraj commented on #106
My daily driver is a archlinux box where I have

[code]

and have never seen this issue, but It might be worth to debug into it, OTOH I don't
know whats going on, but I will try to figure out, tlbgen might be making crude assumptions.

[2019-03-13 15:46] MastaG opened #108 "wayland fails to build with clang"
Hi since you seem to be supplying build fixes for various packages, perhaps you could look into wayland.

arm-oe-linux-gnueabi-libtool: link: arm-oe-linux-gnueabi-clang -mthumb -mfpu=neon-vfpv4 -mfloat-abi=hard -mcpu=cortex-a15 --rtlib=compiler-rt --stdlib=libc++ -mlittle-endian -Wno-error=unused-command-line-argument -Qunused-arguments --sysroot=/media/data/home/mastag/odroid-oe-core/build/tmp/wo

[2019-03-14 10:16] MastaG commented on #108
Fixed by: https://github.com/kraj/meta-clang/pull/109

The wayland commit might soon hit the next point release as it was committed a few weeks ago.

[2019-03-14 10:16] #108 closed

[2019-03-20 15:47] mrchapp commented on #106
This is a "me too" post. In our case, we have been using `meta-clang` just fine on Morty, Rocko and Sumo; Thud and master, however, fail with this problem. The host I tried this on was:
[code]
As for lib:
[code]

[2019-03-25 17:02] edtanous commented on #106
Seeing the same issue on a 32 bit arm yocto machine target, Ubuntu 18.04 build machine.  Identical build machine details as @mrchapp.
[code]

[2019-03-25 17:08] edtanous opened #113 "FEATURE: Support building clang-tools"
clang-tidy and clang-format (as well as other tools) are useful utilities in the clang-tools-extras package.  It would be helpful if this meta layer supported compiling those as part of its build.

I'm happy to start looking at how it could be done, and send a PR if I get far, but any pointers on where to start would be appreciated.

https://clang.llvm.org/extra/index.html

[2019-03-25 17:39] tomasz3dk commented on #113
Those tools are already included in master branch since master branch is using clang in 8 version.

[2019-03-25 18:25] edtanous commented on #113
So they are.  I was running an older branch.  Sorry for the noise.

[2019-03-25 18:25] #113 closed

[2019-03-26 18:23] kraj commented on #106
@edtanous Noticed, I need to get access to an ubuntu box to see whats going on.. planning to get to one this week

[2019-03-31 15:27] nrclark opened #115 "Trouble using Clang on target"
I'm working on an aarch64 Yocto build, and I'd like to include Clang in the image (we have some devs that like it better, and choose to work on-target when they can)

I checked out a recent meta-clang (98c3afc5293) and built it for 'thud' from meta-openembedded (4cd3a39f22a27) and 'thud-20.0.1' from poky (1cab405d88149).

The build finishes OK, and I can install the package without issue. Installi

[2019-04-03 23:40] kraj commented on #115
I see that we need to fix two things

1. Add `compiler-rt` to rdeps for clang
2. Add `libcxx-dev` to rdeps
3. Use `-mfloat-abi=hard` on commandline

Ideally for 3 I would like to configure clang to do that automatically, so I will look into it, I think this is due to the fact that we do not use `gnueabihf` in target tuple but `-gnueabi`

So you can meanwhile workaround this by adding

IMAGE_INSTAL

[2019-04-04 05:53] #115 closed

[2019-04-04 10:01] nrclark commented on #115
Awesome! Thanks for looking into that. I'm excited to try it out over the weekend.

[2019-04-04 19:31] Lorac opened #119 "When setting up sdk relocating error"
When I setup the SDK I get this error :
[code]

The `.....` is just to mask the path

[2019-04-05 02:09] kraj commented on #119
Can you post the build configuration

[2019-04-05 02:23] Lorac commented on #119
I'm on a native x86_64 cross compiling for aarch64. Is that the information you were looking for?

[2019-04-05 02:26] kraj commented on #119
Are you able to post the `Build Configuration` printed by bitbake at the beginning of build

[2019-04-05 02:30] Lorac commented on #119
[code]

[2019-04-05 14:38] kraj commented on #119
You seem to be using thud release Could you try same with master

[2019-04-17 07:11] nrclark commented on #119
I've got the same bug, also building for aarch64. I'm also on thud, since that's the current release (we couldn't wait for warrior, and needed to lock a version).

My SDK errors are very slightly different -  they read "interp size = 75 and 106 is needed" , but otherwise the same.

I'm happy to help repro/debug as needed. Is there anything about master that I can backport into our thud layer which

[2019-04-17 07:19] nrclark commented on #115
Just a follow-up - the new fixes work great for on-target use. I'm working on aarch64, so I didn't need to worry about the `-mfloat` flags. Thanks for looking into it!

[2019-04-18 06:07] MastaG opened #122 "systemd 241: fails to build"
Hi there @kraj

After I updated OE and meta-clang, systemd now fails to build?

| FAILED: src/shared/5afaae1@@systemd-shared-241@sta/json.c.o
| arm-oe-linux-gnueabi-clang -mthumb -mfpu=neon-vfpv4 -mfloat-abi=hard -mcpu=cortex-a15 --rtlib=compiler-rt --stdlib=libc++ -mlittle-endian -Wno-error=unused-command-line-argument -Qunused-arguments --sysroot=/media/data/home/mastag/odroid-oe-core/build/tmp/

[2019-04-18 15:16] mabnhdev commented on #82
I'm having the same issue trying to add the CLang toolchain to my sumo x86_64 build.

I tried the workaround given earlier in the thread and it does not seem to make any difference.

I added the following to my local.conf:

PACKAGECONFIG_remove_pn-libcxx = "unwind"

I still get the following:

ERROR: Multiple .bb files are due to be built which each provide libunwind:

[2019-04-18 22:05] mabnhdev commented on #82
Update.  Putting 'PACKAGECONFIG_remove_pn-libcxx = "unwind"' in a .bbappend file seems to work.

[2019-04-19 12:33] mabnhdev opened #123 "Fail to add clang to SDK for sumo intel-core-i7 with x86-64-x32 tuning."
I'm working with Sumo branches all around.  I'm trying to add clang to my SDK for an x86_64 bit machine running an x32 user space.

I get the following error from the compiler-rt build.

|   /sbox/mabnhdev/clang-repro/build/tmp/work/x86_64_x32-poky-linux-gnux32/compiler-rt/6.0.1+gitAUTOINC+9d61c78bce-r0/recipe-sysroot/usr/include/bits/long-double.h:59:10:
|   fatal error: 'bits/long-double-64.h' f

[2019-04-19 12:38] tomasz3dk commented on #123
I had similar issue, don't remember that it was related to meta-clang or something else but for me installing gcc-multilib and g++-multilib on my computer solved the problem

[2019-04-22 14:38] mabnhdev commented on #123
I wonder if installing gcc-multilib and g++-multilib was coincidental to solving the problem.

I'm reproducing this issue on a Ubuntu Bionic with both multilibs installed.

[code]

[2019-04-25 15:22] petegriffin commented on #106
I also see this issue, when I switched from gcc to using meta-clang to build Chromium-ozone-wayland v73 (to try and avoid other build errors there with gcc..doh)

[2019-04-26 13:07] mabnhdev commented on #123
In the interest of moving forward, I added a hack to define stubs for the missing header files that was tripping up the compiler_rt configuration.

I was able to get a little farther, but ran into a bunch of linker problems - for example.

  /home/mabnhdev/clang-issue-123-repro/build/tmp/work/x86_64_x32-poky-linux-gnux32/compiler-rt/7.0.1-r0/recipe-sysroot-native/usr/bin/x86_64-poky-linux-gnux32/x

[2019-05-14 08:01] olivierschonken commented on #106
I saw this issue while building yocto-warrior with meta-clang master for x86_64 on an x86_64 ubuntu system.

FWIW, Instead of modifying my system, I changed  meta-clang/recipes-devtools/clang/clang/0002-clang-driver-Use-lib-for-ldso-on-OE.patch to

`     break;
   case llvm::Triple::systemz:
@@ -631,7 +631,7 @@ std::string Linux::getDynamicLinker(const ArgList &Args) const {
   case llvm::Triple::

[2019-05-19 16:51] kraj commented on #106
@olivierschonken I think you narrowed the problem, thanks. The issue the original patch `0002-clang-driver-Use-lib-for-ldso-on-OE.patch` fixes is OE specific especially for cross and target compilers where OE uses `lib` ( not `lib64`) for libdirs when multilib is not used and that includes architectures like x86_64 as well, this is departure from other major distributions where default libdir for

[2019-05-20 16:33] kraj commented on #122
this should already be fixed with latest OE-core@master if not please reopen.

[2019-05-20 16:33] #122 closed

[2019-05-20 16:34] kraj commented on #119
Can you try it on master/warrior please ?

[2019-05-20 16:36] kraj commented on #123
@mabnhdev can you reproduce this on master too ?

[2019-05-20 16:37] kraj commented on #106
this should be fixed in master now. Please verify and reopen if still an issue

[2019-05-20 16:37] #106 closed

[2019-05-29 18:13] mabnhdev commented on #123
I tried running my test against master and hit an error pretty quickly.  Looks like Clang is not ready for master.

ERROR: Layer clang-hack is not compatible with the core layer which only supports these series: warrior (layer is compatible with thud sumo)

[2019-05-31 16:15] Lorac commented on #119
So I'm still stuck on poky thud, but I tried with meta-clang master and same problem for now...

I won't be able to upgrade poky until meta-xillinx push their update for the warrior release.

[2019-06-01 19:04] saiarcot895 opened #127 "Building with multilib fails"
On Yocto Thud 2.6.0, with the meta-clang layer on the thud branch, if multilib is enabled, then the `compiler-rt` packaging step fails, since the files are installed to `/usr/lib`, but `do_install` is searching in `/usr/lib64`. I was able to get past this by having my own `do_install_append` that is hardcoded to search in `/usr/lib`, but the `libcxx` hits a similar issue.

What's the expected beha

[2019-06-05 14:07] Lorac commented on #119
We tried to generate a sdk for a x86-64 machine and getting the same errors.

[2019-06-12 19:57] kraj commented on #119
@Lorac I think the problem comes from OE-core so you need to try poky/oe-core master as well along with meta-clang

[2019-06-13 20:55] kraj commented on #127
@saiarcot895 Can you try moving them to `/usr/lib64` in multilib env

[2019-06-13 21:01] kraj commented on #123
hmm are you trying master older than b6f8b068 ?

[2019-06-14 08:27] RichardSun1116 commented on #127
@ kraj
I encountered the same issue and fixed as below patch:
###
In compiler-rt_git.bb:
do_install_append_aarch64 () {
	mv ${D}/usr/lib ${D}/usr/lib64
}
###

by the way , I also encountered the compiler-rt-8.0.1 build issue for multilibs
In llvm-ar.cpp [1] line 1133 ~ 1137 , it judges the keyword "lib" before "ar",
In multilib case , it will cause the fail because the compiler prefix is including

[2019-06-17 08:38] shrkamat opened #128 "clang sdk build fails for raspberrypi2 - /tmp/hosttools/ld: cannot find -lstdc++"
[code]

**Steps to recreate problem**

Build logs are shared here -> https://github.com/shrkamat/yocto/blob/master/pi2/nohup.out

[2019-06-17 14:50] kraj commented on #128
Can you check if libstdc++ is installed on your build machine ? If not then you should install it

[2019-06-17 17:49] shrkamat commented on #128
Yes, it's available.

[code]

[2019-06-19 14:01] shrkamat commented on #128
This seems to me link CMAKE cache related issue. If I manually delete the cmake generated files and run cmake manually, I am able to proceed with the build

[code]

Quick question, can I limit LLVM_TARGETS_TO_BUILD="ARM" and retrigger build without performing cleansstate ?

[2019-06-19 16:35] kraj commented on #128
Yes you can

[2019-06-24 10:57] shrkamat commented on #128
I see in the yocto gererated SDK toolchain is configured as gcc in OE_CMAKE_TOOLCHAIN_FILE. I this expected? I have configured TOOLCHAIN="clang".

I see there are a couple of exports related to clang,

[code]

Now I could probably try overriding the cmake vaiables, but I was wondering  if there is a TOOLCHAIN cmake file with clag configured as default compiler.

[2019-06-24 14:07] mabnhdev commented on #123
Same linker failures using the latest master for all repos.

I've enclosed the log files and a reproduction shell script that uses the master branch.

Regards, Mike

[clang-issue-123-master.zip](https://github.com/kraj/meta-clang/files/3321191/clang-issue-123-master.zip)

[2019-06-24 14:58] kraj commented on #123
in compiler-rt recipe can you try adding

[code]

[2019-06-24 15:03] kraj commented on #128
@shrkamat yes this is expected. default compiler is still gcc in SDK always regardless of TOOLCHAIN variable, TOOLCHAIN var is primarily for internal build. May be time now is to change it based on TOOLCHAIN settings.However If you try setting

CC=${CLANGCC}
CPP=${CLANGCPP}
CXX=${CLANGCXX}

in your environment before running cmake then it might work. But I guess if you cook up a patch either for

[2019-06-25 14:24] mabnhdev commented on #123
I also needed floatn-64.h which I added to the do_configure_prepend_linux-gnux32() you suggested.

I'm now getting configure errors for compiler-rt.

I've enclosed the error log and repoduction script updated with your most recent suggestion.

Regards, Mike
[clang-issue-123-20190625.zip](https://github.com/kraj/meta-clang/files/3325718/clang-issue-123-20190625.zip)

[2019-07-30 05:20] sateesh0457 commented on #82
libunwind is not ported to riscv .when i am working with opencv i am getting error libunwind_1.3.1.
Putting 'PACKAGECONFIG_remove_pn-libcxx = "unwind"' in the  libunwind_1.3.1.bb  file but getting same error .so again this line i added local.conf file but it seems same error.

[2019-07-30 13:17] danieldittmann opened #134 "clang (warrior) sdk build fails at ubuntu 16.04 and 18.04"
When building (warrior) nativesdk-clang at ubuntu 16.04 or 18.04:
gcc: error: unrecognized command line option ‘-fmacro-prefix-map=

Ubuntus host compiler is gcc 5.4.0 (at 16.04) or gcc 7.4.0 (at 18.04).
Both compiler does not support "-fmacro-prefix-map=" option.

[2019-07-30 15:01] kraj commented on #134
In `clang_git.bb` Can you try setting

`TOOLCHAIN_class-nativesdk = "clang"

that will try to use clang-native to build nativesdk recipe.
`

[2019-07-31 06:48] Atomisirsi commented on #119
I can confirm this issue with all layers (poky, meta-oe, meta-clang) on latest warrior.

Only difference is, I get the messages with

	ERROR: could not relocate .../sdk/qemu/sysroots/x86_64-oesdk-linux/usr/lib/LLVMgold.so, interp size = 78 and 84 is needed.

My build configuration is:

	Build Configuration:
	BB_VERSION           = "1.42.0"
	BUILD_SYS            = "x86_64-linux"
	NATIVELSBSTRING

[2019-07-31 06:53] kraj commented on #119
OK I guess we need to deep dive into it since its seem in many instances. Can you share what is your host OS and version.

[2019-07-31 08:32] Atomisirsi commented on #119
From hostnamectl:

	Operating System: Debian GNU/Linux 10 (buster)
	Kernel: Linux 4.19.0-5-amd64
	Architecture: x86-64

[2019-07-31 13:46] danieldittmann commented on #134
`TOOLCHAIN_class-nativesdk = "clang"` is already set.
Setting `TOOLCHAIN_class-native = "clang"` does also not work.
When I set
`DEBUG_PREFIX_MAP_class-nativesdk = "-fdebug-prefix-map=${WORKDIR}=/usr/src/debug/${PN/${EXTENDPE}${PV}-${PR} \`
`                     -fdebug-prefix-map=${STAGING_DIR_HOST}= \`
`                     -fdebug-prefix-map=${STAGING_DIR_NATIVE}= \`
`"`
in clang_git.bb than it

[2019-07-31 15:09] kraj commented on #134
I think this is fine as a fix. Can you prepare a patch for this ?

[2019-07-31 15:11] kraj commented on #119
@Atomisirsi can you try commenting out the line below

https://github.com/kraj/meta-clang/blob/master/classes/clang.bbclass#L30

[2019-07-31 23:34] kraj commented on #119
Can you try to install this SDK on the SDK host where you see this error

https://uclibc.org/~kraj/yoe-glibc-sysvinit-wayland-glibc-x86_64-meta-toolchain-aarch64-raspberrypi3-64-toolchain-2.6.sh

[2019-08-01 07:59] Atomisirsi commented on #119
Thank you very much @kraj: commenting out line 30 fixed the relocating issues.
But the clang tools still do not use the SDK's `ld-linux-x86-64.so.2`. Instead, they are linked to `/lib/ld-linux-x86-64.so.2`, which does not exist on Debian 10.
After creating a symlink from the SDK`s `ld-linux-x86-64.so.2` to `/lib/ld-linux-x86-64.so.2`, I was finally able to execute the clang tools.

Unfortunatelly,

[2019-08-01 11:09] danieldittmann commented on #134
Further analysis shows, that some cmake based steps when compiling clang uses the gcc instead of clang (even if TOOLCHAIN is set to clang). When compiling the nativesdk no gcc is in native toolchain sysroot, so that the host gcc is used.

With this patch native-clang is used to build the nativesdk-clang.
#135

[2019-08-03 04:53] kraj commented on #119
line 30 fixes that exact problem of nativesdk not using nativesdk ldso. But I think we have nailed the cause of the issue which is good.

[2019-08-05 08:31] #134 closed

[2019-08-05 09:28] reid-p opened #136 "Failure build sdk with clang tools included"
I'm getting the following linker error while trying to build an arm sdk with the clang tools included. Any ideas?

[code]

[2019-08-05 17:07] kraj commented on #119
This is a hairy problem and especially seen with components compiled with clang targetted for nativesdk, It would need teaching some tricks to clang driver when it comes to creating enough space in ELF header for relocation of toolchain which we do on gcc. Meanwhile a workaround could be to set the paths similar to where it will be installed something like this.
[code]

let me know if this workaro

[2019-08-06 04:10] kraj commented on #136
I think we need to add -lgcc or -lunwind when building libcxx

[2019-08-06 14:27] Lorac opened #137 "I would like to use lldb in the SDK"
Using my IDE, I would like to use lldb as my debugger to remote debug on my device.

I have patched the lldb recipe with

[code]

And I added `lldb` inside a `packagegroup-core-tools-debug.bbappend`

Does the LLDB recipe is missing `BBCLASSEXTEND`?

[2019-08-06 14:50] kraj commented on #137
@Lorac yes it is missing and it was not straightforward to build lldb without rebuilding clang and llvm since it needs some intermediate build artifacts. On `kraj/master` branch I am working on 9.0  upgrade where it works now since lldb is now being built along with clang in one recipe.

[2019-08-06 15:12] Lorac commented on #137
For the 9.0 release will I have to add/modify anything to get the `lldb` inside my SDK? Or if I have the `TOOLCHAIN = "clang"` inside my recipe it will get deployed automatically (lldb)?

[2019-08-06 15:34] kraj commented on #137
there is no change needed from your side it will already be bundled with clang and nativesdk-clang

[2019-08-13 05:01] kraj commented on #137
9.x is committed. Please try latest master and let me know if all is okay

[2019-08-13 05:03] kraj commented on #136
recipes are upgraded to use 9.x RC, please try with the latest master and report back. Also, post your build configuration so we can reproduce your case.

[2019-08-13 08:51] reid-p commented on #136
Just did a quick try and failing in the configure stage.
`
-- Found PythonLibs: /build/tmp-glibc/work/x86_64-linux/clang-native/9.0.0-r0/recipe-sysroot-native/usr/lib/libpython3.7m.so (found version "3.7.2")
CMake Error at /build/tmp-glibc/work-shared/llvm-project-source-9.0.0-r0/git/lldb/cmake/modules/LLDBConfig.cmake:204 (message):
  Found incompatible Python interpreter (3.6.8) and Python libra

[2019-08-13 11:40] Atomisirsi commented on #119
The workarounds are acceptable! Now I have a working clang in my SDK for architecture x86_64.
Since my last try, I have also included the latest commit on the warrior branch:

    commit 16f62e8de7e9816e95f2ba8eeaad7d863bd12c16 (HEAD -> warrior, origin/warrior)
    Author: Daniel Dittmann <daniel.dittmann@rohde-schwarz.com>
    Date:   Thu Aug 1 13:01:47 2019 +0200

        use native-clang compil

[2019-08-13 14:43] reid-p commented on #136
I add python3native to clang_git.bb

ie:
inherit cmake cmake-native
changed to
inherit cmake cmake-native python3native

and have got past the configure step.

Waiting for the do_compile

[2019-08-13 15:15] kraj commented on #136
@reid-p thanks, can you create a pull?

[2019-08-13 21:01] madscientist42 commented on #87
Closed because the project's about to make a transition to Warrior, making this mostly MOOT.  :D

[2019-08-13 21:01] #87 closed

[2019-08-15 01:45] kraj commented on #136
should be fixed with 1746d053273024037e3ef227130a6582f191993e

[2019-08-15 01:45] #136 closed

[2019-08-15 01:49] kraj commented on #119
@Atomisirsi thanks for report

[2019-08-15 02:05] kraj commented on #32
Latest master should have this addressed, if not feel free to re-open

[2019-08-15 02:05] #32 closed

[2019-08-15 02:06] #56 closed

[2019-08-15 02:12] kraj commented on #20
maybe we can create a `clang-minimal-native` which could be also provided by clang-native so in cases where clang cross compilers are not sought, users can select

`PREFERRED_PROVIDER_virtual/clang-tools-native = "clang-minimal-native"`

others can use

`PREFERRED_PROVIDER_virtual/clang-tools-native = "clang-native"`

[2019-08-15 02:52] Lorac commented on #137
I think that the layer is no more compatible with `thud` and `sumo` because of the libedit change. We are still stuck on thud at the moment.

libedit does exists in thud (meta-oe, not oe-core) but missing `BBCLASSEXTEND = "native nativesdk"`. I can patch that locally pretty easily. Worth creating a patch for it?

Another thing is that my system is using Debian Buster, and it's using python 3.7.3,

[2019-08-15 02:54] Lorac commented on #137
I do get new warnings now too

[code]

Is this due that I'm not on `warrior` yet?

[2019-08-15 06:11] kraj commented on #137
@Lorac yes it is due to other layers being warrior, you need to backport the following oe-core commit specifically
https://git.openembedded.org/openembedded-core/commit/?id=fc634c41e4b3fbaf29dc0104ae6b15757e77f60a

[2019-08-15 07:41] kraj commented on #137
perhaps yes

I think this was fixed by 1746d05

[2019-08-15 12:32] Lorac commented on #137
I am on latest master so I do have that commit.

[2019-08-15 13:21] Lorac commented on #137
pyenv isn't the issue here. I just checked and it's an old manual install of python 3.7.0 that I did back of couple months.

I guess https://github.com/kraj/meta-clang/commit/1746d053273024037e3ef227130a6582f191993e doesn't fix all of it?

[2019-08-15 16:20] kraj commented on #137
hmmm it should direct it to use the python from native sysroot and nothing else, so it should fix mix and match thats happening here.

[2019-08-15 19:13] dburnsii opened #145 "Build Failing with system python executable"
My build is failing due to conflicting library and executable versions for Python, for some reason, even though the PATH variable has the path for Python before /usr/bin.

[2019-08-15 22:52] #145 closed

[2019-08-15 23:42] madscientist42 opened #147 "Does not build with Warrior for 8.0.1 or 9.0.0"
ERROR: clang-native-9.0.0-r0 do_compile: Function failed: do_compile (log file is located at /home/fearl/g3incar_build/build/tmp/work/x86_64-linux/clang-native/9.0.0-r0/temp/log.do_compile.2401097)
ERROR: Logfile of failure stored in: /home/fearl/g3incar_build/build/tmp/work/x86_64-linux/clang-native/9.0.0-r0/temp/log.do_compile.2401097
Log data follows:
| DEBUG: Executing shell function do_compil

[2019-08-15 23:51] madscientist42 commented on #128
Known to work if you do the first suggestion.  Copying CLANGCC, etc. over works **_flawlessly_** with anything where autotools or CMake is your build system.  The needed minimal magic to make it use the SDK sandbox is in the macros and copying them over to CC, etc. does the trick (In a production build system in place for the last 6+ months...)

[2019-08-15 23:52] madscientist42 commented on #128
The other's intriguing, but we kind-of, sort-of needed both toolchains so we left that alone.  Might be worth a try to see if it ends up working out more simply so we can document the first and maybe the second so people know how to make this work.

[2019-08-16 00:19] kraj commented on #128
this would be awesome. Can you make amends to README documenting all this and send a patch ?

[2019-08-16 00:21] kraj commented on #147
hmm are you using `warrior` branch of meta-clang as well

[2019-08-16 00:32] madscientist42 commented on #147
Yes.

On Thu, Aug 15, 2019, 7:21 PM Khem Raj <notifications@github.com> wrote:

[2019-08-16 00:33] madscientist42 commented on #128
Yes.

On Thu, Aug 15, 2019, 7:19 PM Khem Raj <notifications@github.com> wrote:

[2019-08-16 00:51] kraj commented on #147
Can you confirm if you use master
Of all layers then you can build master of meta-clang 9.0 on same build host ?

Secondly what is your build host os ?

I will see if I can reproduce it here

[2019-08-16 01:15] reid-p commented on #136
@kraj
Took me a while to get a uild going, had to get a new host tool chain installed as it was failing in stage2 due to a warning about the age of the gcc compiler. Which looks to have been recently addressed.

Unfortunately still getting the failure.

`02:47:08 | /home/cleanbuild/build/workspace/soc-image-v2019.07/tmp-glibc/work-shared/llvm-project-source-9.0.0-r0/git/libcxxabi/src/cxa_guard_imp

[2019-08-16 11:46] mabnhdev commented on #123
Master is not quite ready for prime time yet?

Parsing recipes: 100% |##############################################################################################| Time: 0:00:38
Parsing of 838 .bb files complete (0 cached, 838 parsed). 1374 targets, 70 skipped, 0 masked, 0 errors.
NOTE: Resolving any missing task queue dependencies

Build Configuration:
BB_VERSION           = "1.43.1"
BUILD_SYS

[2019-08-16 13:54] madscientist42 commented on #147
I can, but this looks more like a missed patch.  Building with Warrior or
Master wouldn't change a state where your second stage call-out is missing
from the build targets...

On Thu, Aug 15, 2019, 7:51 PM Khem Raj <notifications@github.com> wrote:

[2019-08-16 14:24] kraj commented on #123
`0001-OpenCL-Change-type-of-block-pointer-for-OpenCL.patch` is not a patch from meta-clang where is it coming from ?

[2019-08-16 14:27] kraj commented on #147
this should have been fixed with https://github.com/kraj/meta-clang/commit/4e05dac9af2b9f000e31f799511899870663b482

[2019-08-16 17:55] kraj commented on #147
I have backported the above said fix to warrior try it again please.

[2019-08-16 18:12] madscientist42 commented on #147
Will do.  Will be later today.  Will keep  you posted.

On Fri, Aug 16, 2019, 12:56 PM Khem Raj <notifications@github.com> wrote:

[2019-08-19 14:44] mabnhdev commented on #123
It comes from Yocto's meta-intel layer - https://git.yoctoproject.org/cgit/cgit.cgi/meta-intel/tree/dynamic-layers/clang-layer/recipes-devtools/clang/files/0001-OpenCL-Change-type-of-block-pointer-for-OpenCL.patch

[2019-08-19 15:08] kraj commented on #123
I do not maintain that layer so please report or to yocto mailing lists and meta-intel maintainers

[2019-08-20 08:27] mabnhdev commented on #123
FYI - from the meta-intel mailing list...

[2019-08-23 21:47] madscientist42 commented on #147
Sorry for the delay in response.  Got pulled off onto a fire-drill for this stuff...  X-D

Back onto it and got this as a result to this point:

ERROR: Nothing PROVIDES 'virtual/nativesdk-x86_64-pokysdk-linux-libc-for-gcc' (but /home/fearl/g3incar_build/build/../meta-clang/recipes-devtools/clang/clang-cross-canadian_git.bb DEPENDS on or otherwise requires it). Close matches:
  virtual/nativesdk-x8

[2019-08-26 03:14] saininav opened #157 "libcxx_git fails: undefined reference to `_Unwind_Resume'"
Build failing with latest master meta-clang and poky. I am using default configuration (gcc toolchain).

| /data/saininav/work/workspace/poky/build-opencl/tmp/work/core2-64-poky-linux/libcxx/9.0.0-r0/recipe-sysroot-native/usr/bin/x86_64-poky-linux/../../libexec/x86_64-poky-linux/gcc/x86_64-poky-linux/9.2.0/ld: projects/libcxxabi/src/CMakeFiles/cxxabi_shared.dir/cxa_personality.cpp.o: in function `

[2019-08-26 03:38] kraj commented on #157
Can you try adding
[code]
in the libcxx recipe and see if that helps.

[2019-08-26 05:37] reid-p commented on #157
Still compiling but so far looks to be the furthest the build has progressed for me.
Seems to address my failures reported on #136

[2019-08-26 07:31] saininav commented on #157
Build gets passed. Thanks Khem.
Should I expect a patch soon !

[2019-08-28 05:32] madscientist42 commented on #147
That was kind of my thought on things with 7.3  Should be able to get to
something in that vein tomorrow...now that I sorted out other "more
pressing" matters for the day job.  :D

On Tue, Aug 27, 2019, 9:46 PM Khem Raj <notifications@github.com> wrote:

[2019-08-29 21:15] madscientist42 commented on #128
Got bandwidth now to actually go through and make the requested changes to README.  Do you want it in just master or do you want it dropped in what other branches?

[2019-08-29 21:18] madscientist42 commented on #147
Got a build going right now.  Looks more like being pulled off on the fire drill was the culprit.  Found out that my stuff in the metadata for PR purposes on some of this was inconsistent.  Will keep updated, but it looks like maybe this WAS the only fix needed for that part on this metadata layer.  :D

[2019-08-29 21:31] kraj commented on #128
this kind of change can go to all branches where its applicable

[2019-08-29 21:51] madscientist42 commented on #128
Will do.  Will update accordingly and should have a PR in a day or several as I get it finished up.

[2019-08-30 14:57] madscientist42 commented on #147
Nope.  Still busted with Warrior.  Something's off in that it just simply doesn't stage up the stage2 part of the build for native right at the moment.  Doesn't matter if I'm building for my GCC 7.x specific targets or if I'm building for the 8.x ones...it does the same fail.

Rather annoying, really.  Guess I'll be doing digging to see if I can help find this one.

[2019-08-30 16:25] kraj commented on #147
Maybe try building with pure warrior oe-core/bitbake/meta-clang and see if you can reproduce it

[2019-08-30 16:49] madscientist42 commented on #147
It's beginning to look like the multi-stage compilation is not working in my case.  Upon turning it off fully in the recipe (Using the older recipes for guidance, it's getting MUCH further along...

[2019-08-30 16:50] madscientist42 commented on #147
Will do on the other, it'll take me staging up my personal setup to do it- so it may be this evening before I can try there for you.

[2019-09-03 15:17] Lorac commented on #137
Having this error during stage-2:

[code]

[2019-09-03 15:41] kraj commented on #137
hmm so its still there if you have local python install

[2019-09-03 15:53] Lorac commented on #137
I feel that : https://github.com/kraj/meta-clang/blob/9fd82b1647461de153c8da5eaa606f93cb933e34/recipes-devtools/clang/clang_git.bb#L22

Shouldn't be set?

[2019-09-03 15:57] kraj commented on #137
does this work without it ?

[2019-09-03 16:37] Lorac commented on #137
So I removed it and the `-DPYTHON_EXECUTABLE=${PYTHON} \` and now I get:

[code]

[2019-09-03 23:32] madscientist42 commented on #147
It's looking like it's something to do with the GCC 7.X stuff...  That's going to be "fun" and a problem- there's a lot of SoCs that need Linaro GCC 7.2 or GCC  7.3 to build with.

I'll dig further and keep everyone updated.

[2019-09-04 09:05] saininav opened #162 "Build failure: Found incompatible Python interpreter (2.7) and Python libraries (3.7)"
I am building with latest master branch. [9fd82b1647461de153c8da5eaa606f93cb933e34]

Looks clang-native get pass but not non-native. Issue is with lldb.

Error log:
-- Found PythonLibs: /data/saininav/work/workspace/poky/build-opencl/tmp/work/corei7-64-poky-linux/clang/9.0.0-r0/recipe-sysroot-native/usr/lib/libpython3.7m.so (found version "3.7.4")
CMake Error at /data/saininav/work/workspace/poky/

[2019-09-04 16:29] kraj commented on #162
Can you change in `clang_git.bb`

[code]
to
[code]

and see if that helps

[2019-09-04 18:18] kraj commented on #162
and can you try this patch and report back

https://github.com/YoeDistro/meta-clang/commit/6c6db3db7e88deed8b28f98466960d9ca5b375fb

[2019-09-04 18:18] kraj commented on #137
can you try this patch and report
https://github.com/YoeDistro/meta-clang/commit/6c6db3db7e88deed8b28f98466960d9ca5b375fb

[2019-09-05 00:25] kraj commented on #162
Please cherry-pick https://github.com/kraj/meta-clang/pull/163 to meta-clang and https://patchwork.openembedded.org/patch/164648/ to oe-core and report back

[2019-09-05 00:25] kraj commented on #137
Please cherry-pick https://github.com/kraj/meta-clang/pull/163 to meta-clang and https://patchwork.openembedded.org/patch/164648/ to oe-core and report back

[2019-09-05 04:53] Lorac commented on #137
That's with your patch and without `OECMAKE_FIND_ROOT_PATH_MODE_PROGRAM = "BOTH"` during stage-2 build

[code]

That's with your patch and with `OECMAKE_FIND_ROOT_PATH_MODE_PROGRAM = "BOTH"` during stage-2 build

[code]

looks like `OECMAKE_FIND_ROOT_PATH_MODE_PROGRAM` has no effect.

[2019-09-05 04:55] saininav commented on #162
Build still fails with above patches. Same error.

| -- Looking for os_signpost_interval_begin
| -- Looking for os_signpost_interval_begin - not found
| -- Found PythonInterp: /data/saininav/work/workspace/poky/build-opencl/tmp/hosttools/python (found version "2.7.12")
| -- Constructing LLVMBuild project information
| -- Found Git: /data/saininav/work/workspace/poky/build-opencl/tmp/hosttools/git

[2019-09-05 05:23] kraj commented on #162
@saininav  can you drop the last patch and replace it with https://github.com/YoeDistro/meta-clang/commit/ff644955ec94fa93a6c196696b1eaeac29bb8a08 and give it a shot again

[2019-09-05 05:30] saininav commented on #162
Ok

[2019-09-05 06:53] saininav commented on #162
Still build fails. Same error.

| -- Found PythonInterp: /data/saininav/work/workspace/poky/build-opencl/tmp/hosttools/python (found version "2.7.12")

[2019-09-05 07:06] saininav commented on #162
[log.do_compile_75102.txt](https://github.com/kraj/meta-clang/files/3577910/log.do_compile_75102.txt)

[2019-09-05 16:59] madscientist42 commented on #147
Looks like it was self-inflicted (as in one of my team did it to me...  X-D) there was a .bbappend I didn't know much of the details about that was a Kludge for the senior build engineer's needs/purposes that broke the build process for the native step.  Things are now building.  Will close this one and work on the request in the other ticket to document that it's a simple thing to get the Classic

[2019-09-05 16:59] #147 closed

[2019-09-07 16:15] kraj commented on #162
@saininav I tried setting python to 2.x and python 3.x and it built fine here for me.  The oe-core change is in master now and the relevant pull for meta-clang is also merged into master, can you try with latest master of both layers and report back

[2019-09-07 16:17] kraj commented on #137
@Lorac can you try with latest master of oe-core/poky and meta-clang and see if it helps ?
I am also adding a packageconfig to disable python support in lldb which should also bypass
this error

[2019-09-07 20:57] Lorac commented on #137
[code]

Same error with all master.

this error

I need Python support for my case, but for those who don't it make sense to create a package config!

[2019-09-07 21:11] kraj commented on #137
strange, whats your build host distro ? which recipe is failing ( native or target )
libpython is now provided on cmake cmdline so it should not be looking into searching for them at all. there is a patch to disable check for pythonInterp, your logs show nothing is effective. Can you post your Build Configuration as printed by bitbake ?

[2019-09-07 21:15] Lorac commented on #137
Using latest Debian : `Linux mbedesk 4.19.0-5-amd64 #1 SMP Debian 4.19.37-5+deb10u1 (2019-07-19) x86_64 GNU/Linux`

clang-native

[code]

[2019-09-07 23:32] kraj commented on #137
In my case I am seeing
[code]

[2019-09-08 00:20] Lorac commented on #137
Do you have a manual installation of python on your system?

[2019-09-08 01:51] kraj commented on #137
I dont but I wonder why its looking into `/builds/yocto/MACHINE/tmp/hosttools/python`

[2019-09-09 18:08] Lorac commented on #137
I looked in the logs and during [cmake configuration](https://pastebin.com/2U1kKpvz) the paths are correct, but during the second stage during lldb [compilation logs](https://pastebin.com/x913gm99)

[2019-09-09 20:05] kraj commented on #137
Can you try https://github.com/kraj/meta-clang/pull/165 on top of latest master and report back

[2019-09-10 01:08] Lorac commented on #137
During `| [2609/2613] Performing configure step for 'stage2'`

`| -- Found PythonInterp: /builds/yocto/MACHINE/tmp/work/x86_64-linux/clang-native/9.0.0-r0/recipe-sysroot-native/usr/bin/python3-native/python3 (found version "3.7.4")
`

`| -- Found PythonLibs: /builds/yocto/MACHINE/tmp/work/x86_64-linux/clang-native/9.0.0-r0/recipe-sysroot-native/usr/lib/libpython3.7m.so (found version "3.7.4")
`

A

[2019-09-10 01:24] kraj commented on #137
Disable stage2

from `clang_git.bb` Remove
[code]
does that help ?

[2019-09-10 02:09] Lorac commented on #137
fails on `install: cannot stat '/builds/yocto/MACHINE/tmp/work/x86_64-linux/clang-native/9.0.0-r0/build/tools/clang/stage2-bins/bin/lldb-tblgen': No such file or directory
WARNING: exit code 1 from a shell command.
`

[2019-09-10 02:20] kraj commented on #137
yeah no more stage2 where is it now in you ${B} find it and then change
[code]
to
[code]

[2019-09-10 02:51] Lorac commented on #137
I had to use
[code]
but now it builds

[2019-09-10 03:08] kraj commented on #137
Okay so now we need to figure out why stage2 is not respecting python settings from stage1

[2019-09-10 10:26] saininav commented on #162
I still face the issue. Let me try with other build machine.

[2019-09-12 07:22] jyong2 commented on #127
Hi @kraj,

I am also seeing this issue when dealing with opencl-clang from meta-intel with multilib enabled. Fixes all seem pretty messy, llvm-config still does not work.

What I saw gentoo did might be a cleaner approach, they had this their ebuild:
                -DCMAKE_INSTALL_PREFIX="${EPREFIX}/usr/lib/llvm/${SLOT%/*}"

And then just update PATH to the appropriate versions. Presumably clang/

[2019-09-12 21:38] Lorac opened #170 "When using LLVM_TARGETS_TO_BUILD I get relocation error"
This is on `thud`. I think it makes sense that I get the error because it tries to link aarch64 with `ld` from x86.

[code]

I used `LLVM_TARGETS_TO_BUILD = ""`, so I only want to build AArch64 target. If I use the default `LLVM_TARGETS_TO_BUILD` it works, but all the other architecture I have no use for.

[code]

[2019-09-13 13:06] Lorac commented on #170
I was able to rosolve this issue by using `LLVM_TARGETS_TO_BUILD = "AArch64"`

[2019-09-13 13:33] carlocaione commented on #128
Is there a proper solution for the `...hosttools/ld: cannot find -lstdc++ ` problem? It's currently biting me on one of the build servers I'm using.

[2019-09-13 15:49] Lorac commented on #137
Is it possible to split `do_compile` in 2 tasks? Let's say that we could do : `do_compile` for stage1 and then have `do_compile_stage2`, it might be easier to debug, because having to build the first part all the time takes a lot of time (at least on my system).

[2019-09-13 17:41] kraj commented on #170
Can we close this

[2019-09-13 17:44] #170 closed

[2019-09-14 07:48] kraj commented on #162
@anujm1 @saininav  can you guys try latest master and see if the python issue is settled ?

[2019-09-14 07:48] kraj commented on #137
@Lorac can you check latest master and see if lldb w/ python works now

[2019-09-14 07:50] kraj commented on #128
can you describe your build set up and steps to reproduce it ?

[2019-09-15 00:43] jyong2 commented on #127
I found another alternative by using " -DLLVM_LIBDIR_SUFFIX=${LIBSUFFIX} -DCLANG_LIBDIR_SUFFIX=${LIBSUFFIX} -DLIBCXX_LIBDIR_SUFFIX=${LIBSUFFIX}" in EXTRA_OECMAKE.

The suffix is computed with:
def get_libdir_suffix(d):
    import re
    libdir = d.getVar("libdir")
    prefix = d.getVar("prefix")
    return re.sub("^" + prefix + "/lib", "", libdir)

Unfortunately llvm-config --ldflags is still brok

[2019-09-15 01:21] Lorac commented on #137
Yes without Stage-2 it works

[2019-09-15 02:34] kraj commented on #137
Thanks. I think I will leave defaults with stage2 disabled until the python detection mechanism becomes sound in future. So we can close this ticket.

[2019-09-15 02:36] kraj commented on #127
llvm-config could be patched for this logic see `0007-llvm-allow-env-override-of-exe-path.patch`

[2019-09-15 02:38] kraj commented on #128
@carlocaione @shrkamat  we have disabled stage2 builds for clang which should fix this issue. Please try with latest master and see if it helps your case.

[2019-09-15 03:56] Lorac commented on #137
You mean until llvm fixes it?

[2019-09-15 16:12] kraj commented on #137
right.

[2019-09-17 11:48] oxygene commented on #162
I don't mean to hijack this issue, but I came here via google because of the very same error message.

This happened for me while being 788b680, and updating to most recent master fd43459 fixed the issue for me.

[2019-09-18 01:22] kraj commented on #162
based on @oxygene report I am closing it as fixed. Please reopen if not so

[2019-09-18 01:22] #162 closed

[2019-09-18 01:22] kraj commented on #137
I will mark this done based on @Lorac reports on building without stage2

[2019-09-18 01:22] #137 closed

[2019-09-18 09:00] carlocaione commented on #128
@kraj it solves the compilation problem but now chromium-ozone is segfaulting at boot. Not sure if related to this change yet.

[2019-09-18 13:13] kraj commented on #128
@carlocaione thats because of llvm libunwind being in use. Perhaps a workaround by trying to set
[code]
in chromium recipe will help

[2019-09-23 23:25] jpuhlman opened #185 "DEBUG_PREFIX_MAP should have the clang override."
DEBUG_PREFIX_MAP = ""

My thud builds which include the clang class, started failing to build apr and a couple other apps(still looking into it), but it appears the addition of the above caused the problem.

do_install_append_class-target() {
    sed -i -e 's,${DEBUG_PREFIX_MAP},,g' \
           -e 's,${STAGING_DIR_HOST},,g' ${D}${datadir}/build-1/apr_rules.mk
    sed -i -e 's,${STAGING_DIR_HOST},

[2019-09-24 00:01] kraj commented on #185
Yes this should have toolchain-clang override

[2019-09-24 00:26] kraj commented on #185
I think let’s make both the changes you suggested since it’s only problematic in clang7 we won’t need this fix for newer branches

[2019-09-24 00:39] jpuhlman commented on #185
I have a validation build running right now, I'll createa pull request when it's done or feel free.

[2019-09-24 01:42] kraj commented on #185
https://github.com/kraj/meta-clang/pull/186 fixed it

[2019-09-24 01:42] #185 closed

[2019-09-24 19:53] jpuhlman commented on #127
So the patch to use llvm-ar in thud, tripped over this. compiler-rt was building before, but now it stopped complaining that  qc does not exist. When running the util it prints out nothing. Our multilib is labeled as mllib32.

[2019-09-25 15:35] MastaG opened #188 "libc++ fails to link with: unrecognized option '--color-diagnostics'"
Hi I'm building using the master branch of meta-clang, meta-openembedded, bitbake, openembedded.

I've only set: TOOLCHAIN = "clang" in my distro config.
Also I've added: ld-is-ldd to my DISTRO_FEATURES.

But clang++ git fails to compile with:
/home/mastag/src/odroid-oe-core/build/tmp/work/cortexa15t2hf-neon-vfpv4-oe-linux-gnueabi/libcxx/9.0.0-r0/recipe-sysroot-native/usr/bin/arm-oe-linux-gnueabi/

[2019-09-25 15:41] MastaG commented on #188
I think it's because the GNU linker gets staged in the sysroot for clang++ instead of llvm's lld.

/home/mastag/src/odroid-oe-core/build/tmp/work/cortexa15t2hf-neon-vfpv4-oe-linux-gnueabi/libcxx/9.0.0-r0/recipe-sysroot-native/usr/bin/arm-oe-linux-gnueabi/arm-oe-linux-gnueabi-ld -v
GNU ld (GNU Binutils) 2.32.0.20190204

And it does not support the --color-diagnostics flag.

Why isn't it using the l

[2019-09-25 18:57] kraj commented on #127
@jpuhlman on thud we really dont need llvm-ar to be default AR if its causing problems lets remove it. compiler-ar was really tested in warrior so we can leave thud alone

[2019-09-26 09:00] MastaG commented on #188
@kraj
Sorry I meant ld-is-lld for distro features and I also meant libc++ (instead of clang++).. sorry I didn't had much sleep when posting this.

This is my distro config:

TOOLCHAIN ?= "clang"
NO32LIBS ??= "1"
TCLIBCAPPEND = ""
DISTRO_FEATURES ?= "ld-is-lld opengl alsa bluetooth bluez5 argp ipv6 ext2 xattr smbfs pci wifi-extra largefile wifi nfs zeroconf pam pulseaudio wayland x11 mplt systemd l

[2019-09-26 13:20] kraj commented on #188
I am using gnu ld as well and it links fine for me. who adds `--color-diagnostics` I wonder, secondly add `LDFLAGS += "-fuse-ld=lld"` in libcxx recipe and see if that helps

[2019-09-26 15:59] MastaG commented on #188
Hi @kraj

The --color-diagnostics is added by libc++ itself.
I'm building on Fedora 30 btw.

After manually removing it from the build file it completes successfully and the recipe is built and working.

However is there any reason why libc++ isn't being linked with clang's lld linker?

[2019-09-26 16:07] kraj commented on #188
No reason, except that lld is not tested to link it so we rely on default system linker

what change did you make to make it work ?

I see it asks linker first if it support it in  `llvm/cmake/modules/HandleLLVMOptions.cmake`
[code]

[2019-09-28 00:17] madscientist42 opened #190 "Trying to build an SDK fails with master..."
ERROR: Multiple .bb files are due to be built which each provide libunwind:                             | ETA:  0:00:01
  /home/fearl/g3incar_build/build/../meta/recipes-support/libunwind/libunwind_1.3.1.bb
  /home/fearl/g3incar_build/build/../meta-clang/recipes-devtools/clang/llvm-libunwind.bb
A list of tasks depending on these providers is shown and may help explain where the dependency comes fr

[2019-09-28 00:20] madscientist42 commented on #190
We're using master right now instead of Warrior because we ended up needing to take on clang 9.0 for our stuff.  I'm **_trying_** to specify that I don't want libcxx OR llvm-libunwind for this recipe, but want libstdc++ and nongnu's libunwind.  Thought I had it sort of contained until you made the recent change (Which makes complete sense, mind...and probably will make life easier for everyone, ou

[2019-09-28 00:37] kraj commented on #190
in the concerning recipe set
[code]

[2019-09-28 01:07] kraj commented on #190
also try https://github.com/kraj/meta-clang/pull/191

[2019-09-28 23:56] kraj commented on #190
pull #191 should fix it. Please report back if it does not

[2019-09-28 23:56] #190 closed

[2019-09-30 15:24] madscientist42 commented on #190
Will do.  About to check that out here in a moment now that I've got the
morning meetings squared away

Thanks!

On Sat, Sep 28, 2019 at 6:56 PM Khem Raj <notifications@github.com> wrote:

[2019-10-01 15:39] adam-lee opened #194 "ninja: build stopped: subcommand failed."
I'm on `thud` branch with top commit of `1d5b1c100fe4c82bcba0f005b6cae5810fde8243`. I am running into this error when I am building my image with `-c populate_sdk`.

[code]

[2019-10-01 16:07] kraj commented on #194
mostly such issues mean your build machine has run out of memory, how much RAM does it have?

[2019-10-01 16:08] adam-lee commented on #194
It's allocated for 16GB. I will increase it to 24GB and try again. Thanks for a prompt response.

[2019-10-01 16:13] kraj commented on #194
other options is to use gold linker and see if that helps

`GN_ARGS += "use_lld=true use_gold=false"`

[2019-10-01 16:30] adam-lee commented on #194
Thanks. It's building ok now with extra RAM.

[2019-10-01 16:30] #194 closed

[2019-10-01 17:13] adam-lee opened #195 "x86_64-pokysdk-linux-llvm-ar: not found"
Running `bitbake clang` shows no issue, but when I build my image with `-c populate_sdk`, I am running into this issue:

[code]

Help will be appreciated!

[2019-10-01 18:42] kraj commented on #195
I guess you are on thud branch, in that case, can you try applying patch from

https://github.com/kraj/meta-clang/pull/196

[2019-10-01 19:02] adam-lee commented on #195
Thanks @kraj . I cherry-picked #196  and it's building `compiler-rt`, but not `libcxx`. I am getting the same error for `libcxx`.  Is `thud` still work in progress...? What is the latest stable that I should be using?

[2019-10-01 19:40] adam-lee commented on #195
I might have been wrong about `compiler-rt` building with the cherry-pick. Both `compiler-rt` and `libcxx` are still throwing the same error.

[2019-10-01 23:48] kraj commented on #195
OK I pushed another fix. thud is still supported until `zeus` releases this month. we usually support last two releases. I would suggest that you try master since that will become zeus release.

in anycase try the new patchset for thud

[2019-10-02 01:37] kraj commented on #195
Should be fixed on thud now, please reopen if not.

[2019-10-02 01:37] #195 closed

[2019-10-02 01:37] kraj commented on #188
should be fixed now

[2019-10-02 01:37] #188 closed

[2019-10-02 12:49] MastaG commented on #188
yes it is!
confirmed with a build from scratch!

Thanks:)

[2019-10-02 21:56] russell-islam opened #197 "Building with poky thud fails"
Loading cache: 100% |#########################################################################################| Time: 0:00:00
Loaded 3512 entries from dependency cache.
ERROR: No recipes available for:
  /home/xxx/sources/poky/../meta-clang/recipes-core/musl/musl_%.bbappend
Summary: There were 2 WARNING messages shown.
Summary: There was 1 ERROR message shown, returning a non-zero exit code.

[2019-10-02 22:00] kraj commented on #197
what branch of poky are you using?  it is `thud` too.

[2019-10-02 22:24] russell-islam commented on #197
yes

[2019-10-02 22:58] kraj commented on #197
Do you have musl recipe inside poky/meta/recipes-core/

[2019-10-02 23:04] russell-islam commented on #197
Yes.
./sources/meta-clang/recipes-core/musl/musl_%.bbappend
./sources/poky/meta/recipes-core/musl/musl_git.bb
./sources/poky/meta/recipes-core/musl/musl-utils.bb

[2019-10-03 03:44] kraj commented on #197
interesting, Is there some other layer or config metadata which is blacklisting musl or `BBMASK`'ing it ?

[2019-10-08 05:53] saininav opened #200 "libunwind dependency get replaced with llvm-libunwind"
meta-clang layer is added in bblayer in order to compile opencl recipes from meta-intel.

While build igt-gpu-tools recipe from meta-intel, throw configuration error:

checking whether make supports nested variables... (cached) yes
checking for libdrm >= 2.4.82... yes
checking for pciaccess >= 0.10... yes
checking for libkmod... yes
checking for libprocps... yes
checking for libunwind... no
config

[2019-10-08 08:33] saininav commented on #200
I created a patch, which solved my issue:
https://github.com/saininav/meta-clang/commit/8cd463bfbadfc07d692c33eeaff79984996cdee1

[2019-10-08 08:54] saininav commented on #200
Provide your feedback on https://github.com/saininav/meta-clang/commit/8cd463bfbadfc07d692c33eeaff79984996cdee1 patch

[2019-10-09 03:02] saininav commented on #200
Hi Khem,

On using UNWINDLIB = "" in my recipe. Throw below error:

ERROR: igt-gpu-tools-1.24-r0 do_prepare_recipe_sysroot: The file /usr/include/unwind.h is installed by both llvm-libunwind and libunwind, aborting

Do I need to set PREFERRED_PROVIDER ?

[2019-10-09 03:03] kraj commented on #200
I think it should be UNWINDLIB = “—unwindlib=libgcc”

[2019-10-09 03:12] saininav commented on #200
Still issue remains...

[2019-10-09 07:32] kraj commented on #200
please try with https://github.com/kraj/meta-clang/pull/204

[2019-10-09 07:50] saininav commented on #200
Build Pass. Thanks Khem. I will give a try on other opencl (clang) recipes too.

[2019-10-10 01:56] kraj commented on #200
Should be fixed now

[2019-10-10 01:56] #200 closed

[2019-10-10 21:25] schultzern opened #205 "Issue when building agains Poky reference distro"
First of all great work on this layer!

I'm getting some issues when trying to build against Poky on the sumo release. Don't know if you support is as you list `openembedded-core` and `bitbake` as dependencies and not `Poky` but wanted to ask nonetheless.

I'm trying to build a SDK for a project with Qt and get this issue when executing `bitbake meta-toolchain-qt5 -c populate_sdk`:

[code]

Any he

[2019-10-11 00:19] kraj commented on #205
@schultzern, I would suggest trying the master branch of meta-clang.  Poky is supported. poky = cor + bitbake + Ref-BSPs, I know in older releases we exported libunwind from libcxx and it would then conflict with libunwind recipe. Another solution you can do is remove `unwind` from PACKAGECONFIGs in libcxx recipe.

Always paste your build configuration so we can get information about which layers

[2019-10-16 14:24] schultzern commented on #205
Thanks for quick feedback. I was able to solve the problem removing `unwind` from the PACKAGECONFIG in `libcxx` as you suggested.

Noted. Will post my build configuration next time :)

[2019-10-16 14:24] #205 closed

[2019-10-17 02:33] yihect opened #206 "fail using in poky warrior"
I'm using meta-clang in poky warrior, compiling is fine. The libLLVM-9.so is also generated in clang-libllvm rpm.
But there was a problem when using the LLVM library in another recipe.

That recipe uses some functions like LLVMInitializeBPFTarget(). When compiling, err msg reports they are undeclared, so I added:

Extern "C" void LLVMInitializeBPFTarget();
Extern "C" void LLVMInitializeBPFTargetMC

[2019-10-25 08:21] wertig0n opened #207 "Unable to build image SDK, missing llvm-ar?"
Hi!

I try to build the yocto SDK for my own custom image but get these errors, building the image regularly works fine:

`bitbake test-dev-image`

But when I try to extract an SDK image, not so much:

`bitbake test-dev-image -c populate_sdk`

The errors I get are (condensed, if you want me to provide full logs let me know):

[code]

And if I list the files in both these directories I get the same

[2019-10-25 09:07] kraj commented on #207
I hope you are using ‘thud’ branch of meta-clang as well

[2019-10-25 09:13] reid-p commented on #207
I've seen the same problem when cross compiling.
I also run into out of memory problems during the build (too many parallel things going)
while compile clang and sometimes still see the python mismatch issue.
They don't happen all the time...

[2019-10-25 10:43] kraj commented on #207
Does this

https://github.com/kraj/meta-clang/commit/e46fd11991a04730f478c00bbf2fa5ee0dd5446e

Help

[2019-10-25 11:30] wertig0n commented on #207
Unfortunately not :(

`ERROR: ParseError at src/meta-clang/recipes-core/musl/musl_%bbappend:2: Could not inherit file classes/lto.bbclass`

Still same error with the other additions and that line removed

[2019-10-25 11:51] wertig0n commented on #207
Latest commit I can see in my branch is 1d5b1c100f... if that helps any.

[2019-10-25 16:58] kraj commented on #207
Remove the changes to musl bbappend they won’t work in thud but rest should

[2019-10-28 09:26] #207 closed

[2019-10-28 13:54] kraj commented on #207
Glad you found your way out

[2019-10-29 07:19] AKADiNG opened #208 "aarch64-bst-linux-ld: cannot find -lc++ when build compiler-rt"
do_configure failed when built compiler-rt, here is the log

-- Check for working CXX compiler: /home/ning.ding/osbuilder1/bstos/build/tmp/work/aarch64-halium-bst-linux/compiler-rt/9.0.0-r0/recipe-sysroot-native/usr/bin/aarch64-bst-linux/aarch64-bst-linux-clang++
-- Check for working CXX compiler: /home/ning.ding/osbuilder1/bstos/build/tmp/work/aarch64-halium-bst-linux/compiler-rt/9.0.0-r0/recipe-

[2019-10-30 21:33] kraj commented on #208
I see `-stdlib=libc++` in the compiler cmdline, which should not have been the case since we pass `LIBCPLUSPLUS = ""` via the compiler-rt.bb recipe. So I wonder if its being injected via some local.conf change or some such  ?

[2019-10-31 07:02] AKADiNG commented on #208
yes , I find
 ' TARGET_CXXFLAGS_append_toolchain-clang ?= " -stdlib=libc++ "  '  in my auto.conf，compiler-rt have been built successfully after I delete it .

But there still have other recipes build faild with clang, one example is perf ,even after I add

TOOLCHAIN_pn-perf = "gcc"
CXX_remove_pn-perf_toolchain-clang = " -stdlib=libc++ "

in nonclangable.conf, it still not work 。Log is bellow

unab

[2019-11-01 14:51] mdavis777 opened #209 "Unable to build x86 clang 9.0"
I am currently trying to build clang in 32bit core2 tune and I get a linker error.
This error occurs when building against thud and warrior I haven't tried master.

[error.txt](https://github.com/kraj/meta-clang/files/3798085/error.txt)

[2019-11-01 16:03] mdavis777 commented on #209
x86-64 build of the same configuration works fine.

[2019-11-01 16:49] kraj commented on #209
@mdavis777 perhaps adding `LDFLAGS_append_x86 = " -latomic" ` might help ...

[2019-11-01 16:59] kraj commented on #208
@AKADiNG perf depends a lot on kernel, so I wonder if its related to kernel more than clang, but the error you cite here seems to tell me that it did not do a clean build after changing `TOOLCHAIN` variable. So maybe just delete `TMPDIR` and the do `bitbake perf`

[2019-11-01 18:08] mdavis777 commented on #209
@kraj
No change in the error.  I see -latomic in the linking line.

| FAILED: bin/clangd
| : && /build/mdavis/core/tmp/work/core2-32-poky-linux/clang/9.0.0-r0/recipe-sysroot-native/usr/bin/i686-poky-linux/i686-poky-linux-clang++  -m32 -march=core2 -mtune=core2 -msse3 -mfpmath=sse   -mlittle-endian -Wno-error=unused-command-line-argument -Qunused-arguments -fstack-protector-strong  -D_FORTIFY_SOURC

[2019-11-01 19:35] kraj commented on #209
@mdavis777 I think the problem is ordering of libraries on linker cmdline, `-latomic` appears before `-lclangDaemon.a`, if you add `-latomic` at the end of linker cmdline then it should solve the issue

[2019-11-01 20:39] mdavis777 commented on #209
@kraj Ya manually adding the -latomic to the end of the line did fix the issue.  Now I just need to find the correct place to patch to have CMake put it where it should.

[2019-11-01 21:15] kraj commented on #209
@mdavis777 it would be a patch to makefiles try something like below and see if it helps.

[code]

[2019-11-04 06:10] AKADiNG commented on #208
I solve this problem by switch to branch warrior , thank you very much

[2019-11-04 06:10] #208 closed

[2019-11-04 09:58] AKADiNG commented on #119
I've got the same bug, also building for an aarch64 target base on warrior branch,

 the error info is:

could not relocate /home/ning.ding/proj/a500-sdk-clang/sysroots/x86_64-bstsdk-linux/usr/bin/clang-offload-bundler, interp size = 72 and 90 is needed.
ERROR: could not relocate /home/ning.ding/proj/a500-sdk-clang/sysroots/x86_64-bstsdk-linux/usr/bin/llvm-dwp, interp size = 72 and 90 is needed.
E

[2019-11-05 01:25] kraj commented on #119
[code]

Should be set in `conf/local.conf`

[2019-11-05 07:46] AKADiNG opened #210 "Linker command failed when built my project with SDK"
Thank you for your attention. When I built my project with sdk, there is a ld error ad below:

/home/ning.ding/proj/a500-sdk-clang/sysroots/x86_64-bstsdk-linux/usr/bin/aarch64-bst-linux/**aarch64-bst-linux-ld**: CMakeFiles/refapp.dir/demo.cpp.o: in function `BST::WebSocketHandler::loop()':
/home/ning.ding/proj/bst-os-refapp/src/../include/WebSocketServer.hpp:169: undefined reference to `cv::imenco

[2019-11-05 08:31] AKADiNG commented on #119
I found that it  will be ok when you installed the sdk into the default path,。Chang the install path will call this problem.

[2019-11-05 19:50] kraj commented on #210
Can you try adding -stdlib=libc++ to LDFLAGS

[2019-11-05 22:35] kraj commented on #119
yes, as long as your install path is smaller than build path, it will work. The real fix is to create space in ELF header to expand the paths but thats quite invasive and needs a bit of time to get it right and upstream with not accept such  a patch.

[2019-11-07 02:59] sparkleholic opened #211 "`thud` branch ERROR: Multiple .bb files are due to be built which each provide 'libunwind'"
The [`libcxx`](https://github.com/kraj/meta-clang/blob/22f0b0eaad454279c604a83dba53be6e6efb1a06/recipes-devtools/clang/libcxx_git.bb#L24) recipse in meta-clang `thud branch`  provides `libunwind`.
In case of other metalayer has a "libunwind.bb" recipe, it has "PROVIDE" duplicate problem. To solve this, the [`PREFERRED_PROVIDER_libunwind`](https://github.com/kraj/meta-clang/blob/22f0b0eaad454279c60

[2019-11-07 03:36] AKADiNG commented on #210
I add
set(CMAKE_CXX_FLAGS "-stdlib=libc++")

in my CmakeLists.txt， and it works.

It seems like libstdc++ is the default C++ standard library in SDK environment.

Thank you very much for your advices.

[2019-11-07 04:54] sparkleholic commented on #211
@shr-project
I have an issue regarding `populate_sdk`

[2019-11-10 05:35] kraj commented on #211
@sparkleholic I think its best to disable llvm libunwind, you can do so by removeing it from packageconfig

https://github.com/kraj/meta-clang/blob/thud/recipes-devtools/clang/libcxx_git.bb#L18

second change would be to remove

https://github.com/kraj/meta-clang/blob/thud/classes/clang.bbclass#L50-L52

[2019-11-11 15:20] priv-kweihmann opened #212 "zeus release branch"
Hi, are there any plans for a zeus release branch?

[2019-11-11 20:38] mdavis777 commented on #209
Sorry took me a little bit to get this tested.  Unfortunately the patch doesn't work.  HAVE_CXX_ATOMICS64_WITHOUT_LIB comes back set as true so it never appends the library.  I also tried the logic from the newest master of clang with and without the CLANG_BUILT_STANDALONE set and it failed in the same place.

[code]
This error only happens when the clang environment is off.  Otherwise it works fi

[2019-11-11 22:03] kraj commented on #212
@priv-kweihmann Yes certainly, wanted to keep running with master for a while so we can fix any zeus/master related issues before branching or any incompatible change that triggers it for master. I understand that sometimes its needed for automation or tooling reasons. So do you need it to be branched out then please let me know. Right now I expect master to work equally well with zeus and master.

[2019-11-11 22:06] kraj commented on #210
np

[2019-11-11 22:06] #210 closed

[2019-11-11 22:44] kraj commented on #209
OK, it sounds like a deeper issue where clang is generating calls to `__atomic_store` or `__atomic_load` which is due to std::atomic template not finding an internal implementation for these functions. so the above patch where we are assuming it will add `-latomic` is not going to help.  so my suggestion is that add it manually, or come up with a test that explicitly emits these functions so we ca

[2019-11-11 22:53] kraj commented on #206
it seems `BPF` is not enabled in `LLVM_TARGETS_TO_BUILD` for tests add it in`local.conf`
[code]
does that help ?

[2019-11-12 06:48] priv-kweihmann commented on #212
There's no urgent need from my side to have a dedicated zeus branch at the moment. Just asked out of interest.

[2019-11-12 06:48] #212 closed

[2019-11-12 17:14] kraj commented on #212
no worres, I am in process of creating the branch, since there has been enough time since zeus release for settling the dust

[2019-11-13 15:48] megaparanoik opened #214 "Compiler-rt fails with "linker command failed with exit code 1""
Hi!
I'm trying to build meta-electron which has a dependence on clang.
But the build process fails on compiler-rt stage with a message **"clang-5.0: error: linker command failed with exit code 1 (use -v to see invocation)"**

**Target is armv7a
Yocto - Rocko
meta-clang - Rocko branch**

Exact fail from log.do_compile:
[code]

Please, give some advice on how to solve this issue.

[2019-11-13 18:27] kraj commented on #214
if you dont need sanitizers just disable them

[2019-11-13 23:02] megaparanoik commented on #214
I have disabled sanitizers by
EXTRA_OECMAKE_append = " -DCOMPILER_RT_BUILD_SANITIZERS=OFF" in compiler-rt_git.bb
and now compiler-rt is buildable.

But I ran into the problem with libcxx_git.bb
It fails on do.configure step.
the CMakeError.log contains a lot of errors as follow:

[code]
It looks like there is some issue with paths

Could you please direct me on what I have to check to determine th

[2019-11-13 23:56] kraj commented on #214
Try adding following in libcxx recipe
[code]

[2019-11-14 15:19] kraj commented on #206
this should be fixed on master with https://github.com/kraj/meta-clang/pull/215

[2019-11-14 17:47] megaparanoik commented on #214
Unfortunately, it has no effect.

I spent some time and made an experiment.
I downloaded clean repos for poky/openembedded/clan/raspberrypi, switched to rocko branch.
And was surprised that build was completely successful.

This looks like my yocto has conflicts, but I can't determine what exactly.

Should I provide additional CMake/Yocto Error/LOG files?

[2019-11-14 18:20] kraj commented on #214
hmm interesting, if you have logs from bad and good builds for failing package then it would be helpful..

[2019-11-14 23:57] megaparanoik commented on #214
Thank you for your support!
Here is zip with logs for "bad" and "good" builds of libcxx recipe.
[libcxx_logs.zip](https://github.com/kraj/meta-clang/files/3849160/libcxx_logs.zip)

[2019-11-15 18:21] kraj commented on #214
So I see early failures of compiler checks e.g.

[code]
This means clang compiler was not installed correctly. Perhaps  `CMakeError.log` has more details
as to why it failed.

[2019-11-15 18:24] kraj commented on #209
@mdavis777 I am able to build `qemux86` image with clang successfully, also full world build is successful and it has built clang ( for target ) as well. Now I wonder what your build host is and what you distro config is and what layers are in play, Are you using latest master ?

[2019-11-18 05:31] kraj commented on #209
https://github.com/kraj/meta-clang/pull/219/commits/081f35343741fe91d618a37d8073aa37d6a90052 will fix it

[2019-11-20 16:18] kraj commented on #214
closing based on https://github.com/kraj/meta-clang/issues/214#issuecomment-554000836

[2019-11-20 16:18] #214 closed

[2019-11-20 16:19] kraj commented on #209
final fix is https://github.com/kraj/meta-clang/commit/ba6e545b1d0ee93b4ef698fae2d5a018a062b46a please re-open if still not fixed.

[2019-11-20 16:19] #209 closed

[2019-11-20 16:20] kraj commented on #211
@sparkleholic did above suggestion work for you?

[2019-11-20 16:21] kraj commented on #206
@yihect please confirm if latest master is working for you.

[2019-11-22 00:52] JeffyCN commented on #127
Hi @kraj

I hit the same issue(https://github.com/JeffyCN/meta-rockchip/issues/3) as @RichardSun1116  described above:

In multilib(lib32) case, the arm-pokymllib32-linux-gnueabi-llvm-ar (${TARGET_PREFIX}llvm-ar) gives:
qc: no such file or directory

Which is because when the llvm-ar symbol link's name contains "lib", it would be considered as llvm-lib:
https://github.com/llvm-mirror/llvm/blob/mas

[2019-11-22 01:53] yihect commented on #206
Yeah, it works. It has been a long time. Actually, I used another method to get around this problem, but this can work, thank you.

[2019-11-22 01:53] #206 closed

[2019-11-26 22:02] mdavis777 opened #230 "CMake find_package(LLVM) does not function with meta-clang"
Any Cmake that uses find_package(LLVM) supplied with clang fails as it tries to find llvm-tablegen in recipes-sysroot where the libraries are instead of recipes-sysroot-native which contains the binaries.

[code]

Even a simple cmake such as the one below will cause the issue.
[code]

**Desktop (please complete the following information):**
 - OS: Fedora 26
- Yocto 2.6 and 2.7 both have this issue

[2019-11-28 05:45] kraj commented on #230
does setting
[code]
in recipe help

[2019-12-01 22:03] schnitzeltony opened #231 "Question: Adding gallium-llvm PACKAGECONFIG in mesa causes target clang to build"
Background:
As you know I am working on gnome-desktop. Currently I get only the old (GNOME2/fallback) session to run on Raspi. During my investigations I found [1]. So I decided to add gallium-llvm to mesa's PACKAGECONFIG. Since then target clang is build. Note that I have meta-clang in my layers for meta-browser.

Now my questions:
1. Is it an expected behaviour when not setting TOOLCHAIN = "clan

[2019-12-02 00:26] kraj commented on #231
There is llvm recipe in Oe-core and if you chose to use llvm-pipe in Mesa then you will use that however if you have meta-clang then we override that with llvm coming from meta-clang for the simple reason that we Already are using clang for other things so why not for this too

If you want to use llvm from Oe-core then you can edit the preferred providers in layers.conf for meta-clang

If you do n

[2019-12-02 10:04] schnitzeltony commented on #231
Thanks for explanation.

I think current behaviour is OK because TOOLCHAIN sets up native toolchain which is unrelated to target compiler.

FWIW: adding gallium-llvm to mesa did not fix nothing - but found some knobs getting me closer to gnome desktop...

[2019-12-02 10:04] #231 closed

[2019-12-02 14:23] wertig0n opened #232 "meta-clang not compatible with meta-mingw"
Hi!

Been going over this problem for a few weeks and I think I have finally found a workaround for now, but in the meanwhile I would like to report the following.

### Branches tested

thud, zeus

### Steps to reproduce

1. Download meta-mingw, meta-openembedded/meta-oe, meta-clang
2. set all branches to [thud, zeus]
3. `SDKMACHINE=x86_64-mingw32 bitbake meta-toolchain`

### Expected output

`$ b

[2019-12-02 14:40] rossburton commented on #232
I quickly replicated this, the problem is that clang is being pulled into the SDK.

Try setting `CLANGSDK=""` in your local.conf.

[2019-12-02 14:52] rossburton opened #234 "CLANGSDK should be 0 by default"
Following the practise of layers being inert by default, meta-clang is well behaved in that `TOOLCHAIN='gcc'` by default but `CLANGSDK='1'` by default.  I propose that `CLANGSDK` should be `0` by default, so a SDK with clang in is opt-in not opt-out.

[2019-12-02 16:33] mdavis777 commented on #230
No change.
I did some more digging and it seems to be isolated to LLVMExports.cmake and LLVMExports-release.cmake.  They are not designed for binaries and libraries to not share the same prefix path.

Specifically _IMPORT_PREFIX is set to be a 3 directories above from where the .cmake files exist.

[code]

That sets the location for both executables and libraries in LLVMExports-release.cmake
[code

[2019-12-02 16:54] kraj commented on #230
good dig. Can we setup _IMPORT_PREFIX in terms of YOCTO_ALTERNATE_EXE_PATH

[2019-12-02 16:56] kraj commented on #234
seems reasonable.

[2019-12-02 16:58] kraj commented on #232
although clang should build fine for windows, we do not yet support mingw as host with this layer. Perhaps better to disable CLANG in SDK as @rossburton suggests

[2019-12-02 20:15] mdavis777 commented on #230
Possibly with some changes to the export cmakes but it should be doable.
Is the meta-clang using YOCTO_ALTERNATE_EXE_PATH working?
"${STAGING_LIBDIR}/llvm-config" doesn't exist. ${STAGING_BINDIR_NATIVE}/llvm-config  does exist but doesn't point to the correct libdir.

I saw a script in llvm-common.bb that looks like it should wrap it, but I can't seem to get it to work properly.

[2019-12-02 21:57] mdavis777 commented on #230
I did get llvm-config to actually reference the script instead of the binary by cleaning out everything rebuilding.  However llvm-config --bindir points to recipe-sysroot.  Wouldn't we need it to point to recipe-sysroot-native?

[2019-12-02 22:24] kraj commented on #230
yeah its cross llvm-config to it has to be smartly mix native package binary paths with target libs, I am not sure if llvm-config is used in such capacity thus far. So we might have to tweak it

[2019-12-03 08:20] wertig0n commented on #232
Yes, the CLANGSDK="" works for zeus, but not for thud, unfortunately:

`$ pwd
/mnt/extra/yocto/poky/meta-clang
$ git checkout thud
Switched to branch 'thud'
Your branch is up to date with 'origin/thud'.
$ grep CLANGSDK -R .
$ git checkout zeus
Switched to branch 'zeus'
Your branch is up to date with 'origin/zeus'.
$ grep CLANGSDK -R .
./conf/layer.conf:CLANGSDK ??= "1"
./README.md:`bitbake -cpopul

[2019-12-03 13:03] cghalibkhan opened #235 "clang is not build in yocto for riscv arch."
Hi guys,

**Describe the bug**
clang is not build in yocto for RISCV arch.
**To Reproduce**
I was trying to build clang ( RISCV arch ) in yocto, for that i have followed this step's,

step1: git clone git://git.openembedded.org/openembedded-core
step2: git clone https://github.com/openembedded/meta-openembedded.git
step3: cd ${PWD}/openembedded-core && git clone git://git.openembedded.org/bitbake

[2019-12-03 13:13] #235 closed

[2019-12-03 16:37] mdavis777 commented on #230
I made a rough first attempt at fixing it.
https://github.com/mdavis777/meta-clang/commit/e5a6921ec31b4a65bfe844c41be5cbf5747a4693

Currently it generates a new Export file that divides the libraries from the binaries and assigns them a path based on llvm-config if YOCTO_ALTERNATE_EXE_PATH is defined.
Unfortunately it still reports the recipe-sysroot path for bin and lib since YOCTO_ALTERNATE_EXE_

[2019-12-03 17:11] mdavis777 commented on #230
https://github.com/mdavis777/meta-clang/commit/719680defa604fa1f0330310c2cd87ef1e53e31c
This commit fully works.  I don't know what the wide spread repercussions of it would be.  Mostly llvm-config.  The change to the cmake export should be benign.

[2019-12-03 17:46] mdavis777 commented on #230
Just noticed it probably won't work and/or will break multilib. So that will be a thing too.

[2019-12-03 17:53] kraj commented on #230
right  was about to comment on this. But that seems solvable.

[2019-12-03 17:55] kraj commented on #232
@wertig0n backport the needed bits to thud. Usually we only keep last two releases active but I am happy to accept patches for thud still

[2019-12-03 18:05] kraj commented on #235
@cghalibkhan please use master or zeus branch for clang/risc-v since the backend support is new in clang9 and those branches are only ones supporting clang9 at the moment.

[2019-12-04 01:04] schnitzeltony commented on #231
Out of clang scope:

Meanwhile I got full gnome running - no need to adjust mesa. Hope my patches go out before python2-eats-my-children-so-break-world mania....

[2019-12-04 04:05] cghalibkhan commented on #235
Here are the log files, Maybe this log file will be useful for you guys.
[Uploading 20191203051840.log…]()
[Uploading 20191203094900.log…]()
[Uploading 20191203112549.log…]()
[Uploading 20191203115709.log…]()
[Uploading 20191203120701.log…]()

[2019-12-04 16:00] mdavis777 commented on #230
Added a fix for multilib and rebased it on top of master.  Currently to work you have to point to:
`export YOCTO_ALTERNATE_EXE_PATH = "${STAGING_BINDIR}/crossscripts/llvm-config"`
Not sure why the other recipes that seem to use it point to a file that doesn't actually exist.  I can change it to just the env variable being defined at all as well.

[2019-12-04 16:18] rchard2scout opened #236 "Segfault in compilation of nativesdk-clang (Linking llvm-tblgen)"
**Describe the bug**
A segfault occurs during the linking of bin/llvm-tblgen

When trying to build an SDK, nativesdk-clang is compiled using the just previously compiled clang-native. During the linking of bin/llvm-tblgen, a segfault occurs here.

**Additional context**
I'm using latest zeus (commit 4a8b6e8) and Poky version yocto-3.0.
The complete command invocation from log.do_compile (with some

[2019-12-04 16:43] kraj commented on #236
@rchard2scout it might be that LTO is causing it for you. Perhaps you can try removing it
from `recipes-devtools/clang/clang_git.bb`
[code]
remove `thin-lto` from above line

[2019-12-04 16:47] kraj commented on #230
`YOCTO_ALTERNATE_EXE_PATH` actually acts like `--sysroot` does for cross compiler. So it helps point cross llvm-config into target sysroot and then calculates variables relative to that. So its not important if the path exists or not but the depth of directory is more important since it will find the rest of dirs relative to that.

[2019-12-04 16:57] mdavis777 commented on #230
Nevermind I already took that check out.  I squashed the commits and cleaned up the commit log.  I am still trying to test multilib as it appears to have broken in the last month or so on master.
64bit clang builds fine but lib32-clang and lib32-compiler-rt fail every time in multilib with `qc: no such file or directory.`

Seems like `recipe-sysroot-native/usr/bin/i686-pokymllib32-linux/i686-pokym

[2019-12-04 17:00] kraj commented on #230
I think this needs to be fixed in llvm-ar, it is sorting `lib` above `ar` so when you have `i686-pokymllib32-linux-llvm-ar` as AR name it confuses this code. See below, we should be able to fix it, I havent had time to fix it. but while here it would be good if you can try to.

https://github.com/llvm-mirror/llvm/blob/master/tools/llvm-ar/llvm-ar.cpp#L1178

[2019-12-04 19:55] kraj commented on #127
https://github.com/kraj/meta-clang/pull/237 should fix this.

[2019-12-05 09:57] wertig0n commented on #232
@kraj I tried to cherry-pick the two commits that introduced CLANGSDK, but it didn't work. Seems to be more work involved, and not sure I'm allowed to fix that. :(

As thud is nearing end-of-life and we'll switch to Zeus once meta-ti switches over, we can live with the workaround to disable clang for generating the SDK. :)

[2019-12-05 11:05] rchard2scout commented on #162
I had this same issue while building nativesdk-clang, I fixed it by adding `-DPYTHON_EXECUTABLE='${PYTHON}' \` to `EXTRA_OECMAKE_append_class-nativesdk` in clang_git.bb. @kraj is that something that you want to take? Or should I keep it as a local bbappend?

[2019-12-05 11:07] rchard2scout commented on #236
Thanks, that fixed it! Do you want to take it, or should I keep it in a local bbappend? Or do we need to figure out what the root cause is here (a bug in upstream clang perhaps)?

[2019-12-05 14:22] kraj commented on #236
it seems it happens on some hosts not all so i would like to see if its a clang bug before disabling lto

[2019-12-05 14:25] kraj commented on #162
@rchard2scout please send a patch for nativesdk

[2019-12-05 16:36] kraj commented on #230
should be fixed with #238

[2019-12-05 16:36] #230 closed

[2019-12-05 16:37] #127 closed

[2019-12-06 08:18] reid-p commented on #162
This fixed the build for me also.

[2019-12-06 08:21] reid-p commented on #236
Thanks for the tip.
Disabling LTO fixedthe  segfault on my machines.
I'd tried Centos 7 and Centos 8 as the build host with the same seg fault.

[2019-12-06 09:47] priv-kweihmann opened #241 "Compile error on master & zeus with clang-native and shared-libs"
**Describe the bug**
For another native tool I need to have "shared-libs" from the PACKAGE_CONFIG enabled.
So I made an bbappend with `PACKAGE_CONFIG_class_native += "shared_libs"`.
This works on warrior-branch pretty well. On zeus and master I get the stack trace shown below.
If I leave out the PACKAGE_CONFIG append compilation works as expected, but then I have the issues further on in the build

[2019-12-06 19:16] kraj commented on #241
It seems its missing linking with `-ldl` somewhere in lldb, perhaps test it by specifying in recipe ?

[2019-12-06 19:23] priv-kweihmann commented on #241
What I tried is `LDFLAGS_append_class-native = " -ldl"`, without any help.
Any suggestion where to add it inside the recipe?

[2019-12-07 19:11] kraj commented on #236
should be fixed now

[2019-12-07 19:11] #236 closed

[2019-12-11 09:46] cosmo0920 opened #247 "meta-clang's llvm-config is not compatible with MULTILIBS"
**Describe the bug**
One of the our target boards(RZ/G2E)'s Yocto default **conf/local.conf** specifies `MULTILIBS = "multilib:lib32"` and `DEFAULTTUNE_virtclass-multilib-lib32 = "armv7vethf-neon"` to be able to run 32bit ARMv7 binaries.
So, built binaries will be installed in `/usr/lib64/` instead of `/usr/lib`.

Because our SDK environment does not assume `/usr/lib` for library installation dire

[2019-12-11 21:20] kraj commented on #247
Can you cook up a patch ?

[2019-12-12 00:58] kraj commented on #241
this should be fixed on master now.

[2019-12-12 00:58] #241 closed

[2019-12-13 01:09] cosmo0920 commented on #247
I'm cooking up patches.... :hammer:

[2019-12-15 19:08] kraj commented on #247
@cosmo0920 is master we have addressed this issue by using `baselib` for `LIBCXX_CXX_ABI_LIBRARY_PATH` and `LLVM_LIBDIR_SUFFIX` but this patch computes `LLVM_LIBDIR_SUFFIX` locally using new function `get_libdir_suffix` is this needed on master as well ?

[2019-12-16 01:58] cosmo0920 commented on #247
Yes. Current master's implementation returns empty string on multiarch environment.

[2019-12-16 02:18] kraj commented on #247
Ok then could you prepare a patch for master as well please ? Usually we do the fix on master before backport to release branches

[2019-12-16 17:41] kraj commented on #247
thanks for patch, I think this issue is now fixed.

[2019-12-16 17:41] #247 closed

[2019-12-16 22:00] chlongv opened #254 "nativesdk-clang prevents the SDK to be built (thud)"
I want to generate SDKs that include clang. I have done this by extending the `TOOLCHAIN_HOST_TASK` variable:

`TOOLCHAIN_HOST_TASK_append = " nativesdk-clang"`

However, this prevents the SDK to be generated successfully. It fails with with the **libcxx** package, for both ARM and PowerPC (the 2 archs I am interested in). They however fail with 2 different effors:

ARM:

[code]

PowerPC:

[code]

[2019-12-16 23:25] cosmo0920 commented on #247
Yep, this issue is fixed on master.

[2019-12-17 01:14] kraj commented on #254
can you reproduce this with master ?, if you can then we might be able to handle it faster.
secondly, ARM issue seems to be due to fact that you host gcc is < 5.x ( it needs C++11 )
PPC with 7.x might need aid and I do not test it regularly myself but if you post below file then we might see why compiler is failing on simple programs.

[code]

[2019-12-17 08:41] chlongv commented on #254
I will try to reproduce it with master (zeus).

Regarding the ARM issue due to the gcc version < 5.x, that's no the case:

[code]

Here is the file you mentioned above (CMakeError.log):
[code]

The linker does not find the libclang_rt builtins for PowerPC (even though compiler_rt was built indeed).

[2019-12-17 22:12] kraj commented on #254
@chlongv using yoedistro `bitbake yoe-simple-image -c populate_sdk` succeeded for master on ppc as well as on arm.  I know there were compiler-rt issues on older releases on ppc so it might be coming your way. If you are not stuck to thud, I would recommend to use 'zeus' release since it will work like master.

[2019-12-18 09:53] chlongv commented on #254
Yes, I have just finished the build for both PowerPC and ARM with zeus and I can confirm that it succeeded.
I am not strictly stuck on thud, I could move on to zeus. However, some other groups in the organization are indeed stuck on thud and we would have preferred to stay in sync, but I can discuss that.
On the other hand, any opinion/idea on these compiler-rt issues on ppc ? And what about the A

[2019-12-19 03:32] kraj commented on #254
I have seen ARM issue in past but dont have detailed memory on how it got fixed. you might have to dig into git logs perhaps. ppc issue is totally new, I never tried ppc with thud

[2019-12-24 06:57] saininav opened #262 "internal compiler error due to -gsplit-dwarf"
Build is failing at CentOS7, GCC version 4.8.5.

Triggered build with latest poky, meta-intel and meta-clang master branches.

Issue observed due to this patch:
https://github.com/kraj/meta-clang/commit/c885bf3a7dc210acd495be2c40147c11f4cf90e1

After setting -DLLVM_USE_SPLIT_DWARF=OFF, build is successful.

Error log:

FAILED: lib/Target/Mips/CMakeFiles/LLVMMipsCodeGen.dir/MipsAsmPrinter.cpp.o
| /

[2019-12-24 18:08] kraj commented on #262
yeah its pretty old compiler and clang anyway needs atleast gcc 5.x

https://llvm.org/docs/GettingStarted.html#software

so using 4.x is proving lucky so far. However, I think we can make a patch to
convert -DLLVM_USE_SPLIT_DWARF into a packageconfig and perhaps keep it
disabled so it can build on centos7

[2019-12-26 02:29] saininav commented on #262
Issue is observed at Ubuntu 16.04/gcc 7.1.0 too.

[2019-12-26 18:43] kraj commented on #262
should be fixed in master now.

[2019-12-26 22:31] kraj commented on #262
please retest master.

[2019-12-27 06:51] saininav commented on #262
Build passed with this patch.

[2019-12-27 18:49] kraj commented on #262
fixed in master

[2019-12-27 18:49] #262 closed

[2020-01-08 23:04] jpuhlman opened #271 "[Master] Builds fail with missing __divti3"
Not sure whats going on here, but I am getting this failure. Any ideas?

| /home/jpuhlman/builds/master/opencgx-x86-generic-64/project/tmp/work/corei7-64-montavista-linux/libcxx/9.0.1-r0/recipe-sysroot-native/usr/bin/x86_64-montavista-linux/x86_64-montavista-linux-ld: projects/libcxx/src/CMakeFiles/cxx_shared.dir/filesystem/operations.cpp.o: in function `std::__1::chrono::__duration_cast<std::__1:

[2020-01-08 23:12] jpuhlman commented on #271
Currently building on centos 8.

[2020-01-09 18:44] kraj commented on #271
@jpuhlman I have seen this error in past when GCC was used to build libcxx and another case was when using clang with --rtlib=compiler-rt, are there any customizations to such vars done ?

[2020-01-09 19:15] jpuhlman commented on #271
Hmmm. I don't see either cases of those in my builds. Ill try backing layers off in my build to see if its something coming from the distro configuration. I don't think I have any configurations that should muck things up.

Here is the line that looks like it fails on.
/home/jpuhlman/builds/master/opencgx-x86-generic-64/project/tmp/work/corei7-64-montavista-linux/libcxx/9.0.1-r0/recipe-sysroot-nat

[2020-01-09 21:19] kraj commented on #271
I see `-nodefaultlibs -lpthread -lc -lm -lrt -lc++abi` which mean we are not linking in either `libgcc` or `compiler-rt` and this function should come from either of these runtimes. perhaps we need to add that to above since it now needs these for builtins during link.

[2020-01-09 21:35] kraj commented on #271
I think it seems we need to add output of `$CC --print-libgcc-file-name` to this linker cmd

[2020-01-09 21:42] jpuhlman commented on #271
That fixes the link.

[2020-01-09 21:43] kraj commented on #271
Cool. Can you cook a patch

[2020-01-09 23:30] jpuhlman commented on #271
clang version 9.0.1 (https://github.com/llvm/llvm-project c1a0a213378a458fbea1a5c77b315c7dce08fd05)
Target: x86_64-montavista-linux
Thread model: posix
InstalledDir: /home/jpuhlman/builds/master/opencgx-x86-generic-64/project/tmp/work/corei7-64-montavista-linux/libcxx/9.0.1-r0/recipe-sysroot-native/usr/bin/x86_64-montavista-linux
Found candidate GCC installation: /home/jpuhlman/builds/master/openc

[2020-01-09 23:31] jpuhlman commented on #271
Note adding -lgcc works as well. I am not as familiar with cmake configuration change, I am not sure where to make the change.

[2020-01-10 00:20] jpuhlman commented on #271
diff --git a/libcxx/src/CMakeLists.txt b/libcxx/src/CMakeLists.txt
index 31cd243..a194fe8 100644
--- a/libcxx/src/CMakeLists.txt
+++ b/libcxx/src/CMakeLists.txt
@@ -234,7 +234,7 @@ if (LIBCXX_ENABLE_SHARED)
     llvm_setup_rpath(cxx_shared)
   endif()
   cxx_link_system_libraries(cxx_shared)
-  target_link_libraries(cxx_shared PRIVATE ${LIBCXX_LIBRARIES})
+  target_link_libraries(cxx_shared PRIVAT

[2020-01-16 18:03] jpuhlman commented on #271
Was this how we wanted to do it or is there another suggestion?

[2020-01-16 18:56] kraj commented on #271
I think hardlinking with libgcc should be replaced with automatic detection of compiler runtime something like
`$CC --print-libgcc-file-name` to find it instead

[2020-02-12 18:24] deblauwetom opened #280 "compile with clang, link with gcc-toolchain?"
Hello,

I am using your warrior layer and it works very well, nice job! I have now the problem that I am developing using nvidia jetpack, which provides precompiled libraries with gcc 7. So my own application comiles and links with gcc 7 and these binary libs. However, now I want to use clang because gcc is slow :p I used these options in my package:
[code]
So compiling with clang is not a problem

[2020-02-12 20:21] kraj commented on #271
should be fixed now

[2020-02-12 20:21] #271 closed

[2020-02-12 20:22] kraj commented on #280
in master we already have things to choose runtimes ( gcc orr clang ) `RUNTIME ??= "gnu"` and `RUNTIME ??= "clang"` and gnu is default.

[2020-02-12 21:30] deblauwetom commented on #280
Thanks for the reply!
I am unfortunately stuck on warrior :(
The only error I get is actually the file "crtbeginS.o" and "crtendS.o" that are not found on the linker commandline.
I managed to add this:
[code]
So something is only adding the filename, and not the full path to these 2 files :(
Other .o files like "crtn.o" are also added to this commandline, but for some reason, the full path is used

[2020-02-12 21:53] deblauwetom commented on #280
Just found it, this works:
[code]

[2020-02-12 21:53] #280 closed

[2020-02-26 04:17] Leo-Yan opened #287 "bpftrace building fails with Clang 10.0.0"
**Describe the bug**
I also found the bpftrace building fails with Clang 10.0.0.  bpftrace added support Clang 9.0 a few days ago but has not supported Clang 10.0.0 yet.  So before bpftrace support Clang 10.0.0, please consider to add it into blacklist.

I will send a patch for OE building after bpftrace get ready for Clang 10.

**To Reproduce**
add meta-clang into layer
bitbake bpftrace

[2020-02-26 05:15] kraj commented on #287
Thank you @Leo-Yan

[2020-02-26 05:16] kraj commented on #254
@chlongv do we need to do anything more wiith this ticket ? if not then please close it

[2020-02-27 03:31] kraj commented on #287
fails on musl as well
https://errors.yoctoproject.org/Errors/Details/392792/

[2020-03-01 23:02] Lorac opened #290 "I would like to introduce BOLT"
**Describe the solution you'd like**
I would like to be able to use https://github.com/facebookincubator/BOLT, but I'm not sure that meta-clang is the right layer for it.

If poky(oe-core) is the correct layer, will they accept a recipe without a tagged commit yet? It's still in heavy development

I have started a recipe on my end(inside meta-clang), but I have a couple problems with the fact that

[2020-03-02 03:01] Lorac commented on #290
I'm rethinking my strategy and I think I need an `llvm.inc` from poky and then require it inside a  bolt recipe with having both repository using `rev` from the SRC_URI. I think you are the maintainer of the llvm recipe on the oe-core side. I could send an RFC patch on this. What do you think of this approach?

[2020-03-02 04:00] kraj commented on #290
yeah I think its good to maintain it in your own layer and use abstraction from meta-clang, if this is relatively interesting then I am open to accept it into meta-clang.

[2020-03-02 04:43] Lorac commented on #290
@kraj Thanks for the feedback, but I'll have to rethink on how to use it in yocto, because it is based off llvm 7.0...which is about 150k commits behind from master.

[2020-03-02 10:04] chlongv commented on #254
No, nothing more to do. I have the confirmation that it does not work on thud and we have now moved to zeus (where it works).

[2020-03-02 10:04] #254 closed

[2020-03-04 03:47] Leo-Yan commented on #287
Have sent PR to mark musl incompatible: https://github.com/kraj/meta-clang/pull/292.

[2020-03-08 21:36] jaysterling commented on #211
I also ran into this issue and just wanted to confirm that disabling llvm libunwind fixed the issue for me. I created a `libcxx_git.bbappend` file in our project's layer and added a line:

`PACKAGECONFIG_remove = "unwind"`

and no more error.

[2020-03-09 19:40] jpuhlman opened #297 "nativesdk-clang fails to build on top of buildtools-extended-tarball"
Here is example of the compile line:

`/home/jp/builds/clean/opencgx-x86-generic-64/project/tmp/work/x86_64-nativesdk-montavistasdk-linux/nativesdk-clang/10.0.0-r0/recipe-sysroot-native/usr/bin/clang++  -DGTEST_HAS_RTTI=0 -D_GNU_SOURCE -D__STDC_CONSTANT_MACROS -D__STDC_FORMAT_MACROS -D__STDC_LIMIT_MACROS -Ilib/Support -I/home/jp/builds/clean/opencgx-x86-generic-64/project/tmp/work-shared/llvm-proj

[2020-03-09 19:41] jpuhlman commented on #297
I am not entirely sure how to correct the issue.

[2020-03-10 05:14] kraj commented on #297
@jpuhlman this seems to be because the gcc in play is not passing `-std=c++14`

[2020-03-11 01:03] kraj commented on #297
Can you try using `-gcc-toolchain /path/to/your/gcc/install `--target=<tuple-with-pooky-sdk>`

[2020-03-11 04:05] jpuhlman commented on #297
Adding both resolves the individual build issue without adding the unknown links. Have not tried it in the larger build.

[2020-03-13 03:04] Leo-Yan commented on #287
I have verified the latest meta-clang, bpftrace can build successfully with Clang 10.  So can we close this ticket?

P.s. I was committing patch to update git commit for bpftrace but recognized @ovpanait has committed patch, thanks for the patches!

[2020-03-13 03:31] kraj commented on #287
Sure go ahead

[2020-03-13 03:41] #287 closed

[2020-03-27 08:25] fsa-ableton commented on #119
I wonder why this wasn't an issue in the past? We were using clang 5 for a long time based on this layer and we didn't have any difficulties with the SDK. Maybe this information could point to a possible solution?

[2020-03-27 08:44] kraj commented on #119
A solution would be to do something what we do for binutils/gcc/glibc where it introduces padding section .gccrelocprefix which is then edited by the SDK installer during install to input the final location of SDK. e.g. [glibc case](https://github.com/YoeDistro/openembedded-core/blob/master/meta/recipes-core/glibc/glibc/0005-nativesdk-glibc-Raise-the-size-of-arrays-containing-.patch)

[2020-03-27 09:07] fsa-ableton commented on #119
Was this in place before? Why is it that this didn't happen before?

[2020-04-02 21:14] kraj commented on #297
@jpuhlman is this resolved ?

[2020-04-02 21:33] jpuhlman commented on #297
No. its still an issue. Using the extra options worked for building the individual files, but when I tried to put it in the recipe, it failed in another section then I got sidetracked with oe-core bugs. The initial bug was really more about me trying to figure out if it was something that needed to be fixed in oe-core or something in the nativesdk-clang build. Given the back and forth, I am pretty

[2020-04-02 21:34] jpuhlman commented on #297
Everything else seems to build, its just nativesdk that fails.

[2020-04-03 14:13] #234 closed

[2020-04-07 22:55] fmhess commented on #119
Can this problem be worked around by simply removing the meta-clang layer?  I also removed meta-browser which depended on meta-clang, but I don't think I need that either.

[2020-04-07 23:14] kraj commented on #119
If you don’t need clang then you don’t have this problem

[2020-04-07 23:18] fmhess commented on #119
What I am trying to ask is if Angstrom Zeus needs Clang or if removing the meta-clang layer is going to cause other problems.  As far as I know, all Clang is doing for me is generating a bunch of errors when trying to install the SDK.

[2020-04-07 23:23] kraj commented on #119
If you are not building chromium then it’s not must

[2020-04-22 08:20] msisov opened #313 "clang: error: the clang compiler does not support '-mtune=cortex-a57.cortex-a53'"
Hi Kraj,

I have a problem with compiling clang on Zeus branch for m3ulcb board (I didn't try other boards).

Please see the log bellow. I tried both zeus and master branches of meta-clang.

[code]

[2020-04-22 20:03] kraj commented on #313
mtune=cortex-a57.cortex-a53 is not supported by clang and I see these tunes were added lately into oe-core and seems to be wrongly using -mtune/-march they should infact be using some appropriate value for -mcpu instead.

[2020-04-23 20:13] kraj commented on #313
@msisov I would suggest to use master which is currently what is being used for dunfell ( 3.1 ) and will be branched after couple of months, just want to make sure all issues are addressed. dunfell is LTS and anything before that should become low priority.

[2020-04-26 19:09] Lorac opened #316 "I would like to control which LLVM projects to compile"
**Is your feature request related to a problem? Please describe.**
At the moment when using clang, there is no way to opt-out of the clang-extra-tools, lld or lldb. They are built no matter what. To reduce build time, package size, do you know a way to let the user control which projects to install? I think the current default is too big and takes too much time.

https://github.com/kraj/meta-clang

[2020-04-27 05:20] kraj commented on #316
covert them to packageconfigs but it will need some careful crafting

[2020-04-27 08:43] msisov commented on #313
@kraj thanks, I will try.

[2020-05-07 09:05] martin-ejdestig commented on #241
@kraj I also get this linking error on thud. Worth a cherry-pick?

[2020-05-07 17:11] kraj commented on #241
@martin-ejdestig I dont have active setup for thud but if you tested the patch feel free to send a pull

[2020-05-29 20:16] chlongv opened #327 "[zeus] libcxx fails to build for armv5e"
I try to generate a SDK that targets the quite old armv5e architecture (`require conf/machine/include/tune-arm926ejs.inc`). libcxx fails for this arch, while it is fine for all other archs I need (armv7, powerpc, x86) with the following error at link:

`
/home/chvalon/wcom-build-dir/tmp-glibc/work/armv5e-oe-linux-gnueabi/libcxx/9.0.1-r0/recipe-sysroot-native/usr/bin/arm-oe-linux-gnueabi/arm-oe-lin

[2020-06-03 20:12] chlongv commented on #327
Fixed by #328

[2020-06-03 20:12] #327 closed

[2020-06-05 12:41] maxatka commented on #241
I have the same issue on my Gentoo x86_64, building sys-devel/clang-11.0.0.9999:
[code]

[2020-06-08 13:57] ryb-ableton opened #332 "pthread_exit() crashes on ARM"
## Description

`pthread_exit()` crashes when called from C++ code compiled with clang on ARM.

## Steps to Reproduce

1. Build an ARM system and run it in qemu:

[code]

2. Create a file named `pthread_exit_test.cpp`:

[code]

3. Build the test cpp:

[code]

4. Run the executable in gdb:

[code]

## Expected Behavior

The test program exits cleanly.

## Actual Behavior

A segmentation fault with

[2020-06-16 12:26] rmi1974 opened #335 "Yocto dunfell with aarch64/armv7 multilib: clang TARGET_PREFIX$tool symlinks not present in target image nor installed SDK"
I've created a Yocto SDK based on Dunfell with full multilib support for target image and SDK.
Clang is enabled to be included in target image and SDK. Gcc is still the default compiler.

[code]

Target image and SDK creation works fine. Multiple multilib fixes are needed tho but this not related to meta-clang layer.

[code]

It seems for whatever reasons the Yocto SDK toolchain which includes cla

[2020-06-21 20:09] priv-kweihmann opened #336 "dunfell branch"
After master and dunfell already starting to diverge (at least for poky and meta-oe) it would be nice to have a dedicated branch for dunfell here as well

[2020-06-22 15:50] kraj commented on #336
@priv-kweihmann good suggestion. I was thinking for waiting till 10.0.1 is out. Which should be only a week or so.

[2020-06-23 19:30] miartad opened #337 "Gcc"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-06-23 20:02] kraj commented on #337
Hi @miartad gcc with llvm runtime combination is not supported.

[2020-06-23 22:25] kraj commented on #335
@rmi1974 thanks for the detailed report. You report 2 issues here, and first one seems a regression and second one about not creating append for `create_sdk_files` when `CLANGSDK` is not set is also good one to fix.

[2020-06-23 22:36] kraj commented on #332
can you try using `clang++ -pthread ` instead of `clang++ -lpthread `

[2020-06-24 06:43] rmi1974 opened #338 "meta-environment: create_sdk_files should not be run if clang is not included in the SDK (CLANGSDK=0 default)"
Split out from https://github.com/kraj/meta-clang/issues/335

If clang is not included in the SDK (CLANGSDK=0 default), https://github.com/kraj/meta-clang/blob/master/recipes-core/meta/meta-environment.bbappend will unconditionally append export CLANGxxx=yyy. This results in variables that refer to non-existing tools. It could be made conditional.

[2020-06-24 06:47] rmi1974 commented on #335
Thanks. I've split the second issue into a new ticket here: https://github.com/kraj/meta-clang/issues/338
Shame on me. I'm usually a proponent of proper bug reporting.

[2020-06-25 20:19] kraj commented on #335
I can see
[code]

and CLANGCC and CLANGCXX vars are set correctly too.

and I can compile hello.c with CLANGCC as well.

How are you cross compiling with clang ?

[2020-07-01 11:04] rmi1974 commented on #335
Hmpf ... I've updated my workspace with most recent heads of Yocto/Poky dunfell branch + meta-clang master and rebuilt the whole thing. I can't reproduce the problem .. no idea what's different now.

Cross-compiling armv7 and aarch64 Wine with multi-lib SDK's Clang 10.x works now.

[code]

Background of my setup: I'm using Poky SDK for building/testing/debugging bi-arch Wine for ARM.

Without Poky

[2020-07-01 15:12] kraj commented on #335
thanks a bunch @rmi1974

[2020-07-01 15:12] #335 closed

[2020-07-02 03:38] ryb-ableton commented on #332
@kraj I’m on vacation now but I’ll give it a try when I’m back.

[2020-07-02 16:18] kraj commented on #338
this should be fixed now, please try latest master and reopen if more work is needed.

[2020-07-02 16:18] #338 closed

[2020-07-02 16:18] kraj commented on #332
no worries. Enjoy your time off.

[2020-07-10 16:24] priv-kweihmann commented on #336
@kraj any news? In combination with the busybox append (ee1dcdfbb8d31f168b26c2e3e5be97efea6537df) the layer currently breaks a lot of builds for me - so any relief is highly appreciated.

[2020-07-10 16:59] kraj commented on #336
yeah unfortunately 10.0.1 went into rc4 and is still not done. I think I will branch now and do a merge when that happens into dunfell.

[2020-07-10 17:11] priv-kweihmann commented on #336
Thanks

[2020-07-10 17:21] kraj commented on #336
dunfell branch is available now

[2020-07-10 17:21] #336 closed

[2020-07-10 17:24] priv-kweihmann commented on #336
Thanks a lot - could you then also remove the busybox append in master?

[2020-07-10 17:39] kraj commented on #336
it cant be removed but needed porting which I have already proposed here
https://github.com/kraj/meta-clang/pull/345

[2020-07-15 18:27] zinosat opened #346 "bpftrace on thud"
I'm trying to include bpftrace in an image based on thud: I stumbled in this repo which includes a recipe for bpftrace, not in the thud branch.

I've tried the following:
 - add meta-clang in the thud branch
 - copy the recipes for bcc and bpftrace in custom recipes-devtools

bitbake bpftrace

after a couple of hours I get the errors at the end of the following message.
I'm not too fluent with yoc

[2020-07-15 23:21] kraj commented on #346
I think we only have this working with dunfell and newer branches

[2020-07-16 04:42] ovpanait commented on #346
Hi @zinosat

You need to backport this clang patch from master to fix the above mentioned error:

https://github.com/kraj/meta-clang/commit/ab686950af8d7f02e0ca614d277c7c0ca36954ed

[2020-07-16 10:23] zinosat commented on #346
I've tried to [backport the patch](https://pastebin.com/vEXEyVJ1) you've suggested; now I get [a failure](https://pastebin.com/uHMX1YKv) while compiling bcc. It's a big log, where the first error is

| FAILED: src/cc/frontends/b/CMakeFiles/b_frontend.dir/loader.cc.o

[2020-07-16 13:47] ovpanait commented on #346
You could add "flex" to DEPENDS in the bcc bb file in order to get rid of the "#include <FlexLexer.h>" error.

However, the bcc build will fail afterwards with:
error: 'LLVMInitializeBPFTarget' was not declared in this scope
|    LLVMInitializeBPFTarget();
|    ^~~~~~~~~~~~~~~~~~~~~~~
| /buildarea/raid0/ovidiu/Builds/Yocto/yocto-thud/poky/build/tmp/work/core2-64-poky-linux/bcc/0.13.0-r0/git/src/cc

[2020-07-16 16:56] zinosat commented on #346
Adding "flex" to DEPENDS definitely fixes the "#include <FlexLexer.h>" error: great!
I've tried to go back in time, starting with bcc: not having a clue about a reasonable version to try, I ended up with the version tagged v0.10.0 (commit ebf0e4b2fd7190e747638f68a4421a8b653bc0a2) and what I get is [a failure](https://pastebin.com/0n26GcZc) which looks caused by some warnings.
Before trying to fix

[2020-07-16 17:11] ovpanait commented on #346
The real error seems to be:
[21/251] cd /home/zino/code/ghs/YOCTO/wd/poky/build-release/tmp/work/corei7-64-poky-linux/bcc/0.10.0-r0/build/man/man8 && GZIP-NOTFOUND -c /home/zino/code/ghs/YOCTO/wd/poky/build-release/tmp/work/corei7-64-poky-linux/bcc/0.10.0-r0/git/man/man8/llcstat.8 > /home/zino/code/ghs/YOCTO/wd/poky/build-release/tmp/work/corei7-64-poky-linux/bcc/0.10.0-r0/build/man/man8/llcstat.8

[2020-07-16 19:41] zinosat commented on #346
hi @ovpanait
situation looks bad: I get the same failure for all tagged version  from v0.8.0 to v0.13.0:

/home/zino/code/ghs/YOCTO/wd/poky/build-release/tmp/work/corei7-64-poky-linux/bcc/0.10.0-r0/git/src/cc/bpf_module.cc: In constructor 'ebpf::BPFModule::BPFModule(unsigned int, ebpf::TableStorage*, bool, const string&, bool)':
/home/zino/code/ghs/YOCTO/wd/poky/build-release/tmp/work/corei7-64-po

[2020-07-16 22:41] zinosat commented on #346
Trying a new approach: I've taken clang from newer warrior branch (from zeus it fails): it builds fine but I need to backport again the suggested  patch. It's going to take a while to complete the build. we'll see

[2020-07-17 06:29] zinosat commented on #346
Still getting the very same error while compiling bcc (no matter which version I try to build)

[2020-07-18 17:25] ovpanait commented on #346
Are you getting the same results even with the clang from warrior branch?

What about the clang from dunfell? Does it compile with thud?

[2020-07-18 19:37] zinosat commented on #346
Hi @ovpanait ,
yes, bcc fails with clang from warrior, the same way it fails with clang from thud.
I've tried with clang from dunfell and it fails with this dependency error:

NOTE: Resolving any missing task queue dependencies
ERROR: Nothing PROVIDES 'libedit-native' (but /home/zino/code/ghs/YOCTO/wd/poky/meta-sirti/recipes-devtools/clang/clang_git.bb DEPENDS on or otherwise requires it). Close m

[2020-07-19 14:30] ovpanait commented on #346
I was able to get bpftrace to work (at least basic functionality) on thud with meta-clang master branch using the attached experimental meta-clang patch.

I used the following steps:
git clone -b thud git://git.yoctoproject.org/poky
git clone -b thud  https://github.com/openembedded/meta-openembedded.git
git clone https://github.com/kraj/meta-clang.git
cd meta-clang; git am [thud.tar.gz](https://g

[2020-07-19 19:34] zinosat commented on #346
Hi @ovpanait
you did a fantastic job!

I'm trying to adapt your setup to my environment which uses a custom MACHINE:  adding the new "meta-clang" layer triggers a rebuild of the whole bunch of packages which completes correctly.
If I run "bitbake bpftrace" i get

ERROR: Nothing PROVIDES 'libedit-native' (but /home/zino/code/ghs/YOCTO/wd/poky/meta-clang/recipes-devtools/clang/clang_git.bb DEPENDS o

[2020-07-19 19:42] zinosat commented on #346
as a test, I've tried to comment out the following line from clang_git.bb

PACKAGECONFIG[libedit] = "-DLLVM_ENABLE_LIBEDIT=ON -DLLDB_ENABLE_LIBEDIT=ON,-DLLVM_ENABLE_LIBEDIT=OFF -DLLDB_ENABLE_LIBEDIT=OFF,libedit libedit-native"

compilation goes past the previous error: let's see if I get ti to build

[2020-07-20 07:18] ovpanait commented on #346
It seems your meta-openembedded layer is missing the following patch:
https://github.com/openembedded/meta-openembedded/commit/934b8f6dd5f6681daed6490b229b8ba755aacc8e

You could backport this patch directly, or if you cannot patch the sources, you could create a libedit_%.bbappend in one of your custom layers and add the following to it:

BBCLASSEXTEND = "native nativesdk"

[2020-07-20 07:21] zinosat commented on #346
Compilation completed and I finally have an image containing bpftrace!

thank you for the patch: will give it a go.

[2020-07-20 15:15] zinosat commented on #346
Applied the patch to openembedded layer and it works

I own you a few virtual beers:)

Sincerely: thank you a lot for your help!

Davide

[2020-07-22 06:09] #346 closed

[2020-07-22 13:43] gitgonewithwind opened #347 "ERROR: Layer clang-layer is not compatible with the core layer"
ERROR: Layer clang-layer is not compatible with the core layer
I am using commit 6475bb23b98160bfe6c5b2acf3e5e76ad8a05345 to add meta-clang in my yocto project
my yocto source is:
 repo init -u https://source.codeaurora.org/external/imx/imx-manifest -b imx-linux-sumo -m imx-4.14.98-2.0.0_ga.xml
for imx8qm board iwave.

but can not pass yocto bitbake:

how can I  do ?
any suggestions ?
Thank you.

[2020-07-22 13:56] gitgonewithwind commented on #347
I got the solution.

 we need  git checkout sumo.  branch for meta-clang

[2020-07-22 18:32] gitgonewithwind commented on #347
error:

_convert.cpp.o.d -o test/core/CMakeFiles/test-core_convert.dir/core_convert.cpp.o -c /opt/oe/iw/iw/iwg27s-release-bsp/build_imx8qm_2gb/tmp/work/aarch64-poky-linux/gli/0.8.2.0-r0/git/test/core/core_convert.cpp

| /opt/oe/iw/iw/iwg27s-release-bsp/build_imx8qm_2gb/tmp/work/aarch64-poky-linux/gli/0.8.2.0-r0/git/test/core/core_convert.cpp:35:38: error: ordered comparison between pointer and zer

[2020-07-23 20:04] kraj opened #348 "bcc does not compile with clang 11"
**Describe the bug**
When using yoe/mut branch which has clang 11 ( pre-release ) bcc does not compile and ends up with this error
https://errors.yoctoproject.org/Errors/Details/424083/

**To Reproduce**
Steps to reproduce the behavior:

Use yoedistro fork of meta-clang and yoe/mut branch
https://github.com/YoeDistro/meta-clang/tree/yoe/mut

**Expected behavior**
It should build/compile successful

[2020-07-23 20:05] kraj commented on #313
any updates ?

[2020-07-23 20:07] kraj commented on #348
FYI @realhezhe

[2020-07-24 06:18] msisov commented on #313
Sorry, forgot to close. It was resolved.

[2020-07-24 06:18] #313 closed

[2020-07-24 13:29] gitgonewithwind commented on #347
ERROR: tbb-20170412+AUTOINC+a2cfdfe946-r0 do_install: Function failed: do_install (log file is located at /opt/oe/iw/iw/iwg27s-release-bsp/build_imx8qm_2gb/tmp/work/aarch64-poky-linux/tbb/20170412+AUTOINC+a2cfdfe946-r0/temp/log.do_install.2956)
ERROR: Logfile of failure stored in: /opt/oe/iw/iw/iwg27s-release-bsp/build_imx8qm_2gb/tmp/work/aarch64-poky-linux/tbb/20170412+AUTOINC+a2cfdfe946-r0/temp/

[2020-07-24 15:41] kraj commented on #347
Please checkout sumo branch of meta-clang

[2020-07-24 15:50] gitgonewithwind commented on #347
Hi Kraj,
I used sumo branch, but I can not pass  bitbake. the error  is upper posted before.

I only add TOOLCHAIN ?= "clang" in local.conf
--------

I add the  all the following in local.conf
TOOLCHAIN ?= "clang"
LIBCPLUSPLUS = ""
COMPILER_RT = ""
UNWINDLIB = ""
---
the error is below:

ERROR: libcxx-6.0.1+gitAUTOINC+64c8bcf535_48a89ecb9f_9245d481eb_68c1bfc356-r0 do_packagedata_setscene: If the a

[2020-07-24 17:05] kraj commented on #347
in your `local.conf` add `PACKAGECONFIG_pn-libcxx = ""`

[2020-07-24 17:07] gitgonewithwind commented on #347
Thank you.
I am going to do!

[2020-07-24 18:56] zinosat opened #349 "fatal error: 'asm/early_ioremap.h' file not found"
While running the tools inside /usr/share/bcc/tools provided by bcc package on my "thud" system, I get the following error:

# /usr/share/bcc/tools/cpudist
In file included from /virtual/main.c:2:
In file included from /lib/modules/4.14.79-rt29-yocto-preempt-rt/build/include/linux/sched.h:20:
In file included from /lib/modules/4.14.79-rt29-yocto-preempt-rt/build/include/linux/hrtimer.h:22:
In file

[2020-07-27 19:25] gitgonewithwind commented on #347
hi @kraj
I added PACKAGECONFIG_pn-libcxx = ""
but new error appears:
----

| /opt/oe/iw/iw/iwg27s-release-bsp/build_imx8qm_2gb/tmp/work/aarch64-poky-linux/gli/0.8.2.0-r0/git/test/core/core_convert.cpp:35:38: error: ordered comparison between pointer and zero ('char *' and 'int')
|         if(std::strstr(FilenameDst, ".dds") > 0 || std::strstr(FilenameDst, ".ktx") > 0)
|            ~~~~~~~~~~~~~~~~

[2020-07-28 01:07] kraj commented on #347
in local.conf add

`TOOLCHAIN_pn-gli = "gcc"`

[2020-07-28 13:56] gitgonewithwind commented on #347
hi @kraj
sorry, after adding TOOLCHAIN_pn-gli = "gcc" , still can not fix the issue

[2020-07-28 21:40] gitgonewithwind commented on #347
@kraj
---
new error:
why error happened? can I find a rule to fix ?

----
| make -C man
| make[1]: Entering directory '/opt/oe/iw/iw/iwg27s-release-bsp/build_imx8qm_2gb/tmp/work/aarch64-poky-linux/mmc-utils/0.1-r0/git/man'
| make[1]: Nothing to be done for 'all'.
| make[1]: Leaving directory '/opt/oe/iw/iw/iwg27s-release-bsp/build_imx8qm_2gb/tmp/work/aarch64-poky-linux/mmc-utils/0.1-r0/git/man'
|

[2020-07-29 02:35] kraj commented on #347
@gitgonewithwind this is an additional error that clang is finding a new warning which is being treated as error since -Werror is enabled. Perhaps you can disable warning-as-errors option add
[code]
to ./meta/recipes-devtools/mmc/mmc-utils_git.bb

[2020-07-29 14:06] gitgonewithwind commented on #347
but error again
--

| make[1]: Entering directory '/opt/oe/iw/iw/iwg27s-release-bsp/build_imx8qm_2gb/tmp/work/aarch64-poky-linux/alsa-tools/1.1.5-r0/alsa-tools-1.1.5/us428control'
| aarch64-poky-linux-clang++ -mlittle-endian -D__extern_always_inline=inline -no-integrated-as -Wno-error=unused-command-line-argument -Qunused-arguments --sysroot=/opt/oe/iw/iw/iwg27s-release-bsp/build_imx8qm_2gb/tmp/wo

[2020-07-29 14:16] ryb-ableton commented on #332
@kraj `clang++ -pthread` and `clang++ -lpthread` create binaries that crash in the same way.

I built a VM using the reproduction steps for easy experimentation: [`core-image-minimal-dev-qemuarm.tar.bz2`](https://www.dropbox.com/s/mpor6u8ea84h589/core-image-minimal-dev-qemuarm.tar.bz2?dl=0)

Run it using:

[code]

[2020-07-29 18:36] kraj commented on #347
you must be using an old version of alsa-tools please backport this fix to it

https://github.com/alsa-project/alsa-tools/commit/a861bdabf02cd9bfb3ec7c0571c563c0fa14adfb

[2020-07-30 19:20] kraj commented on #332
@ryb-ableton I am able to reproduce this here on qemuarm, your analysis is correct, currently, we use gcc runtime be used during build ( -stdlib=libstdc++ -rtlib=libgcc ) where as when we use clang on target we use llvm-runtime ( -stdlib=libc++ -rtlib=compiler-rt )

threfore when building libcxx libraries during cross build we are linking in libgcc unwinder into them dynamically ( you can see that

[2020-07-30 19:35] kraj commented on #349
somehow I think you need to add ${STAGING_KERNEL_BUILDDIR} to include search paths when it comes to looking for prepared kernel build tree for kernel headers. Looking into kernel-source is not right place to look for.

[2020-07-31 07:01] ryb-ableton commented on #332
@kraj It'd be interesting to try to reproduce this on a stock ARM32 Linux system, independent of OpenEmbedded and meta-clang, by building clang from scratch to use compiler-rt and libunwind. If it can, it's an issue for the LLVM bug tracker. Unfortunately I can't spend more time on this at the moment.

Using the GCC runtime by default sounds like a good solution in any case, since it's more widely

[2020-07-31 07:06] kraj commented on #332
@ryb-ableton I think static linking in libunwind into libc++abi is not right and its meta-clang specific, you won't see that behavior with vanilla libcxx, perhaps I will take a dig at fixing that

[2020-08-01 19:48] zinosat commented on #349
tools fail to run on the target because of missing 'asm/early_ioremap.h': you suggest to copy the missing file to the target fs taking it from ${STAGING_KERNEL_BUILDDIR}, correct?
the fix should be part of  meta-clang/dynamic-layers/openembedded-layer/recipes-devtools/bcc/bcc_0.13.0.bb ?

thank you in advance,
Davide

[2020-08-02 06:29] kraj commented on #349
perhaps yes I think someone familiar with bcc might have better idea

[2020-08-02 06:35] kraj commented on #332
should be fixed in master now

[2020-08-02 06:35] #332 closed

[2020-08-02 08:31] ovpanait commented on #349
Hi,

You could generate "asm/early_ioremap.h" directly on target, by running "make prepare" in the kernel build directory:

- include "kernel-devsrc" to rootfs
- add "tools-sdk" to "EXTRA_IMAGE_FEATURES" (e.g. EXTRA_IMAGE_FEATURES ?= "debug-tweaks tools-sdk")
- rebuild
- on target:

root@qemux86-64:~# cd /lib/modules/4.18.33-yocto-standard/build/
root@qemux86-64:/lib/modules/4.18.33-yocto-standard

[2020-08-03 18:25] zinosat commented on #349
I've managed to get this to work: excellent (and thank you)!

What would it take to get all the necessary in the rootfs without having to install gcc on the running system?

[2020-08-03 21:11] kraj commented on #349
@zinosat are you looking to compile whole rootfs with clang ? if so set `TOOLCHAIN = 'clang'` in local.conf, if you are asking something else please clarify

[2020-08-03 21:34] zinosat commented on #349
Hi @kraj , @ovpanait provided a fix which consists in installing gcc into the target filesystem and running "make prepare" always on the taget: once you do that all the bcc tools work fine. I wanted to know what would it take to get the bcc tools to work on a target machine wiithout having to run "make prepare" on the target

[2020-08-04 04:22] ovpanait commented on #349
Hi,

I am not sure it is currently possible out of the box to include the kernel headers generated at build time to the rootfs. I think the supported flow is to include kernel-devsrc and run "make prepare"/"make scripts" at runtime. You might need to create a separate recipe in your layer to do this process manually, but it may prove difficult/error-prone.

On newer kernels this is not needed beca

[2020-08-04 16:36] kraj commented on #348
@ovpanait can you take a look ?

[2020-08-04 17:03] ovpanait commented on #348
Sure, I will take a look. I think it can be solved via an upgrade to v0.14+.

[2020-08-04 17:35] gitgonewithwind commented on #347
sorry bother you again @kraj

fixed that, but new error,

| ../../../git/plugins/aiurdemux/aiurstreamcache.c:37:28: error: a parameter list without types is only allowed in a function definition
| GST_DEBUG_CATEGORY_EXTERN (aiurdemux_debug);
|                            ^
| aarch64-poky-linux-libtool: compile:  aarch64-poky-linux-clang -mlittle-endian -D__extern_always_inline=inline -no-integrated

[2020-08-04 17:43] gitgonewithwind commented on #347
ERROR: Task (/opt/oe/iw/iw/iwg27s-release-bsp/sources/meta-fsl-bsp-release/imx/meta-bsp/recipes-multimedia/gstreamer/imx-gst1.0-plugin_4.4.5.bb:do_compile) failed with exit code '1'
ERROR: chromium-ozone-wayland-71.0.3545.0.r589108.igalia.1-r0 do_compile: Function failed: do_compile (log file is located at /opt/oe/iw/iw/iwg27s-release-bsp/build_imx8qm_2gb/tmp/work/aarch64-mx8-poky-linux/chromium-o

[2020-08-05 00:43] kraj commented on #347
I see `clang-6.0: error: invalid linker name in argument '-fuse-ld=lld'` which means that lld is enabled in your build for clang perhaps it should be disabled.  perhaps add following line in `recipes-browser/chromium/chromium-gn.inc`
[code]

[2020-08-05 12:28] gitgonewithwind commented on #347
@kraj
it seems fix that issue,
but
../../../git/plugins/aiurdemux/aiurstreamcache.c:37:28: error: a parameter list without types is only allowed in a function definition
| GST_DEBUG_CATEGORY_EXTERN (aiurdemux_debug);
|                            ^
| ../../../git/plugins/aiurdemux/aiurstreamcache.c:272:13: warning: format specifies type 'int' but the argument has type 'gsize' (aka 'unsigned long')

[2020-08-05 12:33] zinosat commented on #349
@ovpanait I very much like the kheaders option: I've backported the patch and when I modprobe the module, I see /proc/kheaders.tar.xz
I still get the original error when I run the tool, but I'm sure I'm almost there!

[2020-08-05 13:05] zinosat commented on #349
it looks like I have to backport a more recent version of the patch, since now bcc extracts the archive from /sys

[2020-08-05 16:41] kraj commented on #347
it perhaps is some coding error in imx-gst1.0-plugin you might just keep using gcc to compile it. Add

`TOOLCHAIN_pn-imx-gst1.0-plugin = "gcc"` in local.conf and carry on

[2020-08-06 03:37] gitgonewithwind commented on #347
| install: will not overwrite just-created '/home/rnd2/work/iw/iwg27s-release-bsp/build_clang/tmp/work/aarch64-poky-linux/tbb/20170412+AUTOINC+a2cfdfe946-r0/image/usr/lib/libtbb.so' with '/home/rnd2/work/iw/iwg27s-release-bsp/build_clang/tmp/work/aarch64-poky-linux/tbb/20170412+AUTOINC+a2cfdfe946-r0/git/build/linux_aarch64_gcc_cc4_release/libtbb.so'
| install: will not overwrite just-created '/hom

[2020-08-06 12:52] zinosat commented on #349
I've backported a more recent kernel patch.
When i run (for example) _/usr/share/bcc/tools/execsnoop_ I still get the error I originally reported in this ticket.
I've manually tried the following:

    modprobe kheaders
    tar xf /sys/kernel/kheaders.tar.xz -C .
    cp -r arch/ /lib/modules/4.14.79-rt29-yocto-preempt-rt/build/

Now the tool runs fine.
Am I doing anything wrong?
I mean: manually f

[2020-08-06 13:44] ovpanait commented on #349
What if you remove "kernel-devsrc" from the image? It shouldn't be necessary anymore. Maybe the incomplete headers have a higher priority than kheaders module.

Instead, add "kernel-modules" to rootfs and give it a try.

[2020-08-06 15:45] zinosat commented on #349
Hi @ovpanait ,
using "kernel-modules" in place of "kernel-devsrc" fixes it: you're my hero :)

thank you,
Davide

[2020-08-06 15:45] #349 closed

[2020-08-06 17:21] #348 closed

[2020-08-07 09:52] zinosat commented on #346
I'm attaching an updated version of @ovpanait patch, which fixes compilation ont thud, after the latest commit (edd7e22b0db5bf24ccbdf79557907a66cb615ee0)

[thud.patch.gz](https://github.com/kraj/meta-clang/files/5040641/thud.patch.gz)

[2020-08-07 13:28] gitgonewithwind commented on #347
hi @kraj
thank you very much  for your kind help
I add below in my local.conf( remove  chromium-ozone-wayland , only add TOOLCHAIN ?= "clang", comment line 17,18,19, I thinl in our clang app code , do not use chromium-ozone-wayland  , now  I am not sure. my coworkers write the code  )
I passed the compilation and got the toolchain
I am going to use the clang to cross compile our clang code

------

[2020-08-07 14:06] gitgonewithwind commented on #347
not work well to fix clang-6.0: error: invalid linker name in argument '-fuse-ld=lld'
I hope our clang code  do not use it

[2020-08-07 22:37] kraj commented on #346
@zinosat we have thud branch for meta-clang, while its not actively maintained I am willing to accept well tested patches. This patch is reviving thud support on master, which we do not want. Master currently supports dunfell and gatesgarth(master) only.

[2020-08-11 10:18] anilavakundu commented on #45
@zavorka  I was hoping if you could tell me which EXTRA_OECMAKE did you change LLVMgold.so isn't built for me either

[2020-08-11 18:35] gitgonewithwind commented on #347
@kraj
when I use the clang toolchain, I tried to build with code as the below line in makefile:
aarch64-poky-linux-clang -O2 makeBmp.c process01.c -o makeBmp  --sysroot=/opt/fsl-imx-xwayland/L4.14.98-2.0.0_GA/sysroots/aarch64-poky-linux  -lm -Wall -ffunction-sections -Wl,-gc-sections

but error:
./common01.h:9:10: fatal error: 'sys/io.h' file not found
#include <sys/io.h>
         ^~~~~~~~~~
1 err

[2020-08-11 18:57] kraj commented on #347
@gitgonewithwind this header is provided by system C library so I wonder whats going, can you find io.h in the sysroot /opt/fsl-imx-xwayland/L4.14.98-2.0.0_GA/sysroots/aarch64-poky-linux

[2020-08-11 19:05] gitgonewithwind commented on #347
NO . I can not find it in the whole toolchain folder.
------
I copied the sys/io.h  from build/tmp/sysroots-components/x86_64-nativesdk/nativesdk-glibc/opt/fsl-imx-xwayland/L4.14.98-2.0.0_GA/sysroots/x86_64-pokysdk-linux/usr/include/sys/io.h

to   /opt/fsl-imx-xwayland/L4.14.98-2.0.0_GA/sysroots/aarch64-poky-linux

but the  io.h  file  seems that it's for x86_64 not for aarch64

-----
I just found

[2020-08-15 18:51] sandeepjain26 opened #360 "compiler-rt does not build sanitizer libs"
Hi all,
I had build meta-clang with musl, and found that sanitizer (asam, ..etc) libs are not present in built rootfs.
I looked into the compiler-rt recipe, and looks like build for sanitizer libs are disabled.
I tried building sanitizers with below change removal in compiler-rt recipe.
-EXTRA_OECMAKE_append_libc-musl = " -DCOMPILER_RT_BUILD_SANITIZERS=OFF "

this caused below compile error.
`tmp/

[2020-08-16 02:00] kraj commented on #360
@sandeepjain26 yes the reason to disable is that we were not able to build it. We now do have clang11 recipes in flight, so perhaps you can try that, if you are interested

cherry-pick top 3 patches from https://github.com/YoeDistro/meta-clang/commits/yoe/mut

and let me know if its any better.

[2020-08-16 09:42] sandeepjain26 commented on #360
@kraj , Thanks a lot for the information.
I tried build with branch yoe/mut.
Without sanitizer, build for 11.0.0 goes through.
But once I enabled Sanitizer, Build failed with same error
`tmp/work-shared/llvm-project-source-11.0.0-r0/git/compiler-rt/lib/sanitizer_common/sanitizer_platform_limits_posix.cpp:61:10: fatal error: 'fstab.h' file not found
#include <fstab.h>
         ^~~~~~~~~
1 error gen

[2020-08-16 15:35] kraj commented on #360
you might want to cherry-pick needed bits from https://reviews.llvm.org/D63785

[2020-08-17 08:34] sandeepjain26 commented on #360
@kraj , Thanks for pointer.
Patch seems to be very old (more than 1 yr ).
Not sure if its still valid or might require porting as per latest code.
I will give it a try.
Thanks.

[2020-08-18 12:02] sandeepjain26 commented on #360
@kraj
Since patch is quite old,
- file names changed from *.cc to *.cpp.
- and hunks failed to apply.
I had worked to fix failing hunks.

At the moment trying to fix below compilation

`
llvm-project-source-11.0.0-r0/git/compiler-rt/lib/sanitizer_common/sanitizer_platform_limits_posix.cpp:1163:1: error: 'assertion_failed__1163' declared as an array with a negative size
| CHECK_TYPE_SIZE(ipc_perm);

[2020-08-19 14:53] gitgonewithwind commented on #347
@kraj
I find the /sys/io.h file at ./tmp/work/aarch64-poky-linux/glibc-initial/2.27-r0/git/sysdeps/unix/sysv/linux/arm/sys/io.h
fix the issue.
and compile a file , it can run on the board.
I only need to check more
Thank you very much for your kind help.

[2020-08-24 12:46] fsa-ableton commented on #332
Can this be backported to the `zeus` branch as well?

[2020-08-24 12:48] fsa-ableton commented on #119
So you think it would be possible to backport this to `zeus` as well?

[2020-08-24 17:36] kraj commented on #332
@fsa-ableton test it out on zeus and report back if it works for you

[2020-08-24 17:38] kraj commented on #119
this is oe-core we will backport this to dunfell. zeus is already seeing its last release and then it will not receive official updates so it might not see it, but you can always backport to your distro.

[2020-08-25 12:50] fsa-ableton commented on #119
This didn't work on `zeus`, sadly. I'm still seeing the following errors when installing the SDK:

[code]

[2020-08-25 20:53] kraj commented on #119
@fsa-ableton is it possible for you to test the same using master ?

[2020-08-26 13:21] fwuehr opened #362 "ROCKO: compiler-rt does not build"
Hello @kraj,
Hello @all,

we are using an SDK that is based on yocto (rocko, planning to migrate to thud) which we want to improve with clang. GCC should stay the default and we want to use GNU libstdc++ as well, but provide a cross-compiling clang as an alternative to GCC.

The project is setup as a cmake project for an ARM-Cortex-A15 chip (arm armv7a vfp thumb neon callconvention-hard)
I tried s

[2020-08-26 15:47] fsa-ableton commented on #119
Sorry, I cannot get to this right now. I've made a note of this and will get back once I tested it.

[2020-08-26 15:48] fsa-ableton commented on #332
I backported it to `zeus` successfully :-)

[2020-08-26 22:15] kraj commented on #332
OK cool. Care to propose PR as well ?

[2020-08-27 02:06] kraj commented on #362
see if you can use `-fno-unwind-tables ` compiler option. Btw. if you are planning to move away from rocko then move to dunfell since that's whats maintained and LTS release.

[2020-08-27 06:05] fwuehr commented on #362
Now I don´t see the previous error message anymore, but another one came up:

 CMake Error at cmake/Modules/AddCompilerRT.cmake:196 (add_library):
|   The install of the clang_rt.ubsan_standalone-dynamic-armhf target requires
|   changing an RPATH from the build tree, but this is not supported with the
|   Ninja generator unless on an ELF-based platform.  The
|   CMAKE_BUILD_WITH_INSTALL_RPATH var

[2020-08-27 06:54] kraj commented on #362
You can disable sanitizers which dont build a patch like this https://github.com/kraj/meta-clang/blob/master/recipes-devtools/clang/clang/0005-compiler-rt-Disable-tsan-on-OE-glibc.patch will be a good start.

[2020-08-27 08:54] fsa-ableton commented on #332
Can you please grant me push rights to the repo?

I have a branch prepared on top of your `zeus` branch; however, I tested the fix on our `zeus` branch, which is behind on 81ba160 (`conf/nonclangable.conf: Always build mesa with gcc`). I don't think that it makes a difference, but just saying.

[2020-08-27 16:04] ska-la opened #363 "Wrong name busybox_1.32.%.bbappend"
dunfell emits error on the name, as i remember symbol % must replace all version, not his part..

[2020-08-27 16:12] kraj commented on #363
On Thu, Aug 27, 2020 at 9:04 AM Suchkov K.A. <notifications@github.com>
wrote:

are you using dunfell branch on meta-clang

[2020-08-27 16:14] kraj commented on #332
you can create pull request https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request

[2020-08-28 09:56] ska-la commented on #363
i checked out on the Dunfell branch, but busybox_1.31.%.bbappend is the
wrong name still..

чт, 27 авг. 2020 г. в 19:12, Khem Raj <notifications@github.com>:

[2020-08-28 16:27] kraj commented on #363
help me understand whats wrong ?

[code]

[2020-08-31 06:29] sandy-lcq opened #365 "libcxx do_compile failed occasionally since parallel build"
**Describe the bug**
libcxx do_compile failed occasionally

**To Reproduce**
hard to reproduce, but I attach 2 logs when we met the problem

**Something have done**
I analyzed the attached log libcxx.log.do_compile.1,  and I think this is  a problem caused by parallel build.
and  the root cause maybe in cmake,  target_link_libraries cannot link dynamic library correctly. But I don't
find proper wa

[2020-08-31 06:42] sandy-lcq opened #366 "libcxx do_compile failed occasionally during parallel build"
**Describe the bug**
libcxx do_compile failed occasionally

**To Reproduce**
hard to reproduce.  I attached 2 failed logs
[1.log.do_compile.txt](https://github.com/kraj/meta-clang/files/5148701/1.log.do_compile.txt)
[2.log.do_compile.txt](https://github.com/kraj/meta-clang/files/5148702/2.log.do_compile.txt)

**Something have done**
I analyzed the attached log 1.log.do_compile.txt,  and I think th

[2020-08-31 07:32] sandy-lcq commented on #365
close since duplicated

[2020-08-31 07:32] #365 closed

[2020-08-31 07:57] ska-la commented on #363
Sorry, i've spent your time. I'm an old donkey.

пт, 28 авг. 2020 г. в 19:28, Khem Raj <notifications@github.com>:

[2020-08-31 10:17] fwuehr commented on #362
I was able to generate a toolchain now, but when I build a simple test application I get the following error at linking:

cannot find /opt/poky/sysroots/armv7ahf-neon-oe-linux-gnueabi/usr/lib/clang/5.0.1/lib/linux/libclang_rt.builtins-armhf.a: No such file or directory

I tried to find this file and it´s not located in the sysroots directories

[2020-08-31 15:41] kraj commented on #362
@fwuehr it perhaps means it did not generate compiler-rt builtins library. Either you need to fix that or add `--rtlib=compiler-rt` to compiler commandline

[2020-09-09 06:32] kraj commented on #363
I am closing this issue please reopen if you think its not resolved.

[2020-09-09 06:32] #363 closed

[2020-09-09 06:33] kraj commented on #366
Perhaps disable static libs ?

[2020-09-09 14:54] wdobbe opened #368 "Zeus: populate_sdk fails on gold linker option"
**Describe the bug**
I added meta-clang to my Yocto Zeus project. After that command 'bitbake <myimage> -c populate_sdk failed because the linker doesn't know option '-fuse-ld=gold'.
Target is based on the NXP i.MX6q SoC.

**To Reproduce**
Download NXP Yocto framework (zeus branch).
Try to build SDK with 'bitbake core-image-full-cmdline -c populate_sdk'

**Expected behavior**
Yocto SDK is built wi

[2020-09-09 18:08] kraj commented on #368
DISTRO_FEATURE check is mainly for target recipes not nativesdk ones, We use gold because we want to use LTO to compile second stage clang, it seems clang expects ld.gold binary in same directory as clang itself, which is the reason perhaps for this error, so maybe smlinking ld.gold would help but can you try using LLD instead of gold here

`-fuse-ld=lld` and see if that helps.